// Global color variables

$color-white:        #FFFFFF;
$color-gray-bluish:  #F7F7F9;
$color-gray-bluish-2:#F0F0F4;
$color-gray-light:   #F7F7F7;
$color-gray:         #DEDEE2;
$color-gray-darkish: #A3A3AD;
$color-gray-dark:    #7E7E81;
$color-gray-darker:  #717174;
$color-gray-deep:    #2B2B2B;
$color-black:        #000000;
$color-blackcurrant: #151931;
$color-pink-old:     #FF268B;
$color-pink:         #E80070; // Only for text, is darker to hit 4.5:1 on white
$color-pink-dark:    #DF006C; // Used in <code> to hit 4.5:1 on gray-light
$color-orange-old:   #FC895B;
$color-orange:       #E87523;
$color-red:          #EE0700;
$color-yellow-light: #FAF4E1;
$color-yellow-dark:  #E5B300;

$gradient-yellow: linear-gradient(#FFE033, #FFD800);
$gradient-blackcurrant: linear-gradient(-90deg, #414458, #686b7c);

$gradient-orange-pink: linear-gradient(135deg, #fc865b, #fc2489);
$gradient-orange-new-pink: linear-gradient(
  99.56deg,
  #fc7662 -2.02%,
  #fc3b7e 187.72%
);

$gradient-orange-pink-light: linear-gradient(135deg, #FC895B26 0%, #FF268B26 100%);

// Colors used to automatically generate font and background color utilities.

$auto-colors: (
  'white': $color-white,
  'gray-dark': $color-gray-dark,
  'gray-darker': $color-gray-darker,
  'blackcurrant': $color-blackcurrant,
  // 'pink': $color-pink, // Used in link styling, isn't needed 'ere
  'pink-dark': $color-pink-dark,
  'orange': $color-orange,
  'orange-old': $color-orange-old,
  'red': $color-red,
  'black': $color-black
);

$auto-bg-colors: (
  'white': $color-white,
  'gray-bluish': $color-gray-bluish,
  'gray-light': $color-gray-light,
  'gray': $color-gray,
  'gray-dark': $color-gray-dark,
  'gray-deep': $color-gray-deep,
  'blackcurrant': $color-blackcurrant,
  'yellow-light': $color-yellow-light,
  'currentColor': currentColor
);
