
// Global color variables

$color-white:        #FFFFFF;
$color-gray-bluish:  #F7F7F9;
$color-gray-light:   #F7F7F7;
$color-gray:         #DEDEE2;
$color-gray-dark:    #7E7E81;
$color-gray-deep:    #2B2B2B;
$color-black:        #000000;
$color-blackcurrant: #151931;
$color-pink-old:     #FF268B;
$color-pink:         #E80070; // Only for text, is darker to hit 4.5:0 on white
$color-orange-old:   #FC895B;
$color-orange:       #E87523;
$color-red:          #EE0700;

$gradient-orange-pink: linear-gradient(135deg, #FC865B, #FC2489);

// Colors used to automatically generate font and background color utilities.

$auto-colors: (
  'white': $color-white,
  'gray-dark': $color-gray-dark,
  'blackcurrant': $color-blackcurrant,
  // 'pink': $color-pink, // Used in link styling, isn't needed 'ere
  'orange': $color-orange,
  'red': $color-red
);

$auto-bg-colors: (
  'white': $color-white,
  'gray-bluish': $color-gray-bluish,
  'gray-light': $color-gray-light,
  'gray': $color-gray,
  'gray-deep': $color-gray-deep,
  'blackcurrant': $color-blackcurrant,
  'currentColor': currentColor
);
