
.type-p,
.type-p--large,
.type-p--small {
  @extend %u-sailec;
}

.type-p {
  @include fontScale(18, 20);
  @include lineScale(32, 34);
}

.type-p--large {
  @include fontScale(20, 24);
  line-height: 1.5;
}

.type-p--small {
  @include fontScale(16, 17);
  font-weight: 400;
  line-height: 1.5;
}
