
.type-p,
.type-p--large,
.type-p--small {
  @extend %u-sosh;
  letter-spacing: 1px;
}

.type-p {
  @include fontScale(18, 20);
  @include lineScale(32, 40);
}

.type-p--large {
  @include fontScale(20, 24);
  line-height: 1.5;
}

.type-p--small {
  font-size: 16px;
  line-height: 1.5;
}
