
.type-quote {
  @extend %u-tiempos;
  font-size: 26px;
}

.quote {
  border-bottom: 1px #DEDEE2 solid;
  border-top: 1px #DEDEE2 solid;
  margin: 3rem 0;
  padding: 2rem 0;

  p {
    color: $color-orange;
    font-family: 'Tiempos', serif;
    font-size: 1.4rem;
    margin-top: 0;
  }

  &__image {
    display: block;
    margin-right: 1.5rem;
    width: 60px;
  }

  &__person {
    line-height: 1.6;
  }

  &__name {
    display: block;
    font-weight: 700;
  }

  footer {
    display: flex;
    position: relative;
  }

  .team-image {
    img {
      bottom: 0;
      left: 0;
      position: absolute;
    }
    &:before {
      height: 60px;
      width: 60px;
    }
  }

  .clutch {
    bottom: .2rem;
    position: absolute;
    right: 0;
  }
}
