.o-blog {
  max-width: $global-max-width;

  &__post {
    border-top: 1px solid #DEDEE2;
    margin-bottom: 2rem;
    padding-top: 2rem;

    &:first-child {
      border: 0;
    }

    @include breakpoint(from-medium) {
      margin-bottom: 4rem;
      padding-top: 4rem;
    }
  }

  &__category {
    @include fontScale(16, 18);
    color: $color-gray;
    font-weight: 700;
    text-transform: uppercase;
  }

  @include breakpoint(from-medium) {
    margin:0 auto;


    &__post {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 3fr 7fr;
    }

    &__info {
      grid-column: 1;

      p {
        margin-bottom: .5rem;
        margin-top: 0;
      }
    }

    &__title {
      grid-column: 2;
    }
  }

  .o-blog-nav {
    grid-column: 2;
  }
}

.o-blog-nav {
  display: flex;
  a,
  span {
    display: inline-block;
    height: 20px;
    margin: 0;
    min-width: 20px;
    padding: 1.3rem;
    text-align: center;
  }
  a {
    border-bottom: 3px $color-gray solid;
    &:hover {
      border-bottom: 3px $color-orange solid;
      color: $color-orange;
    }
  }
  span {
    color: $color-gray;
    &.current {
      border-bottom: 3px $color-blackcurrant solid;
      color: $color-blackcurrant;
    }
  }

  &.compact {
    a,
    span {
    padding: .9rem .9rem;
    }
  }
}
