/**
 * A container for the team list, with a max width and optional vertical padding
 */
.o-blog {
  max-width: $global-max-width;
  
  &__post {
    border-top:1px solid #DEDEE2;
    padding-top:2rem;
    margin-bottom:2rem;
    
    &:first-child {
      border:0;
    }
    
    @include breakpoint(from-medium) {
      padding-top:4rem;
      margin-bottom:4rem;  
    }
  }
  
  &__category {
    text-transform: uppercase;
    font-weight: 700;
  }
  
  @include breakpoint(from-medium) {
    margin:0 auto;
    
    
    &__post {
      display: grid;
      grid-template-columns: 3fr 7fr; 
      grid-gap: 1rem;
    }
    
    &__info {
      grid-column: 1;
      
      p {
        margin-top:0;
      }
    }
    
    &__title {
      grid-column: 2;
    }
  }
  
  .o-blog-nav {
    grid-column: 2;
  }
}

.o-blog-nav {
  display: flex;
  a, span {
    display: inline-block;
    height: 20px;
    min-width: 20px;
    padding:1.3rem 1.3rem;
    text-align: center; 
    margin:0;
  }
  a {
    border-bottom:3px $color-gray solid;
    &:hover {
      color:$color-orange;
      border-bottom:3px $color-orange solid;
    }
  }
  span {
    color:$color-gray;
    &.current {
      color:$color-blackcurrant;
      border-bottom:3px $color-blackcurrant solid;
    }
  }
  
  &.compact {
    a, span {
    padding:0.9rem 0.9rem;
    }
  }
}
