
.o-container-case-studies {

  &--flex {
    @extend %u-flex;
    @extend %u-fw-wrap;
  }

  &--grid {
    @extend %u-flex--upto-medium;
    @extend %u-fd-column--upto-medium;
    @extend %u-grid--from-medium;

    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  @include breakpoint(upto-small) {
    width: 100% !important; // TODO: Figure out why important needed & remove
  }
}
