
.o-container {
  @extend %u-width-100pc;
  box-sizing: border-box;

  // Text or whatever content sits in here
  &__inner {
    @extend .u-mh-auto;
    width: var(--container-width);
    max-width: $global-max-width;

    &--v-pad {
      padding-top: var(--container-v-pad);
      padding-bottom: var(--container-v-pad);
    }
  }

  // Container with horizontal and vertical border on desktop
  &--bordered {
    padding: var(--edge-gutter);
  }

  &--h-bordered {
    padding-right: var(--edge-gutter);
    padding-left: var(--edge-gutter);
  }

  &--v-bordered {
    padding-top: var(--edge-gutter);
    padding-bottom: var(--edge-gutter);
  }
}
