
.o-container-services {

  &--single {
    @extend %u-flex--upto-medium;
    @extend %u-fd-column--upto-medium;
    @extend %u-grid--from-medium;

    grid-template-columns: 1fr 1fr;

  }

  &--2-column {
    @extend %u-flex--upto-medium;
    @extend %u-fd-column--upto-medium;
    @extend %u-grid--from-medium;

    grid-template-columns: 1fr 1fr;

    @include breakpoint(from-medium--upto-large) {
      width: 100%;
    }
  }

  &--3-column {
    @extend %u-flex--upto-medium;
    @extend %u-fd-column--upto-medium;
    @extend %u-grid--from-medium;

    grid-template-columns: 1fr 1fr 1fr;

    @include breakpoint(from-medium--upto-large) {
      width: 100%;
    }
  }
}
