
.o-container-services {

  &--single {
    @extend %u-flex--upto-medium;
    @extend %u-fd-column--upto-medium;
    @extend %u-grid--from-medium;

    grid-template-columns: 1fr 1fr;
  }

  &--2-column {
    @extend %u-flex--upto-medium;
    @extend %u-fd-column--upto-medium;
    @extend %u-grid--from-medium;

    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
  }

  &--3-column {
    @extend %u-flex--upto-medium;
    @extend %u-fd-column--upto-medium;
    @extend %u-grid--from-medium;

    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
  }
}
