/**
 * A container which is a large, full width section of the page. Usually a <section>.
 */
.o-container-section {
  @extend %u-width-100pc;
  @extend %u-border-box;

  // Container with horizontal and vertical border on desktop
  &--bordered {
    padding: var(--edge-gutter);
  }

  &--h-bordered {
    padding-right: var(--edge-gutter);
    padding-left: var(--edge-gutter);
  }

  // Unused
  // &--v-bordered {
  //   padding-top: var(--edge-gutter);
  //   padding-bottom: var(--edge-gutter);
  // }
}
