/**
 * When edge gutter goes to 0 (e.g. because on mobile), $pc goes to 0,
 * and the clip-paths automagically become normal rectangles!
 */
.o-section-clip {

  $pcw: calc((100vw - var(--edge-gutter) * 2) / 100); // Percent width
  $pch: calc((100vh - var(--edge-gutter) * 2) / 100); // Percent height (when is 100vh)

  &--corner-top-right {
    clip-path: polygon(
      0 0,
      calc(57 * #{$pcw}) 0,
      100% calc(6 * #{$pcw}),
      100% 100%,
      0 100%,
      0 0
    );
  }

  &--ramp-bottom-right {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 5vw - 14px),
      77% calc(100% - 5vw - 14px),
      0 100%,
      0 0
    );
  }

  // Not all section-clips show on teeny tiny screens.
  // Is at the end to override the specific section-clips
  // This MUST be a value that computes to something other than 'none'
  // - otherwise it will redo the stacking order and break z-indexes
  &--no-mobile {
    @include breakpoint(upto-small) {
      clip-path: border-box;
    }
  }
}
