/**
 * When edge gutter goes to 0 (e.g. because on mobile), $pc goes to 0,
 * and the clip-paths automagically become normal rectangles!
 */
.o-section-clip {

  $pc: calc((100vw - var(--edge-gutter) * 2) / 100);

  &--corner-top-right {
    clip-path: polygon(
      0 0,
      calc(57 * #{$pc}) 0,
      100% calc(6 * #{$pc}),
      100% 100%,
      0 100%,
      0 0
    );
  }

  &--ramp-bottom-right {
    clip-path: polygon(
      0 0,
      100% 100%,
      100% calc(30 * #{$pc}),
      calc(80 * #{pc}) calc(30 * #{$pc}),
      0 100%,
      0 0
    );
  }

  // Section-clips don't show on teeny tiny screens.
  // Is at the end to override the specific section-clips
  @include breakpoint(upto-small) {
    clip-path: none;
  }
}
