.o-tag-list {
  @extend %u-flex;
  @extend %u-fw-wrap;
  gap: .8rem;

  li {
    @extend %u-inline-flex;

    & .c-tag {
      @extend %u-flex;
      @extend %u-fd-column;
      gap: .25rem;

      span {
        @extend %u-mt-auto;
      }
    }

    & .c-tag.c-tag-blog {
      @extend %u-fd-row;
      @extend %u-ai-center;
      gap: 10px;

      & span {
        margin-top: 0px;
      }
    }
  }
}
