.o-tag-list {
  @extend %u-flex;
  @extend %u-fw-wrap;
  gap: .8rem;

  li {
    @extend %u-inline-flex;

    & .c-tag {
      @extend %u-flex;
      @extend %u-fd-column;
      gap: .25rem;

      span {
        @extend %u-mt-auto;
      }
    }

    & .c-tag.c-blog-tag,
    & .c-tag.c-tag--blog-hero {
      @extend %u-fd-row;
      @extend %u-ai-center;
      gap: 10px;

      & span {
        margin-top: 0px;
      }
    }
  }

  &.o-blog-tag-list {
    @extend %u-fd-column--from-medium;
  }

  &--lg {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1.5rem;

    @include breakpoint(from-medium) {
      gap: 2.5rem;
    }

    > * {
      flex-basis: 30%;
      flex-grow: 1;
    }

    .c-tag {
      width: 100%;
      font-weight: 500;
      font-size: 20px;
      text-decoration-thickness: 2px;
      padding-inline: 1rem;
      padding-block: 0.8rem;
    }
  }
}
