/**
 * A container for the team list, with a max width and optional vertical padding
 */
.o-team-list {
  @extend .u-mh-auto;
  max-width: $global-max-width;
  width: var(--container-width);

  &--v-pad {
    padding-bottom: var(--container-v-pad);
    padding-top: var(--container-v-pad);
  }

  &__person {
    display: block;
    width: 100%;
  }

  a {
    @extend %u-block;
    margin: auto;
    margin-bottom: 2rem;

    @include breakpoint(from-small) {
      margin-bottom: 3rem;
    }
  }

  @include breakpoint(from-small) {
    display: flex;
    flex-wrap: wrap;

    &__person {
      width: 50%;
    }
  }

  @include breakpoint(from-medium) {
    display: flex;
    flex-wrap: wrap;

    &__person {
      width: 33.33333%;
    }
  }

  @include breakpoint(from-large) {
    display: flex;
    flex-wrap: wrap;

    &__person {
      width: 25%;
    }
  }

  .team-image {
    img {
      border-radius: 0 0 75px 75px;
      width: 150px;

      &:before {
        height: 150px;
        width: 150px;
      }
    }
  }


  &__title {
    text-align: center;
    h2 {
      font-size: 1.3rem;
      font-weight: 700;
      margin-top: 1.3rem;
	  }

	  p {
      font-size: 1.3rem;
      margin: 0.7rem 0 0 0;
	  }
  }
}

.team-image {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  position: relative;

  &:before {
    @extend %u-block;
    @extend %u-round;
    background: linear-gradient(90deg, rgba(252, 252, 252, 1) 0%, rgba(201, 201, 201, 1) 100%);
    bottom: 0;
    content: '';
    height: 150px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 150px;
    z-index: 1;
  }

  img {
    height: auto;
    width: 100%;
    z-index: 2;
  }
}
