/**
 * A container for the team list, with a max width and optional vertical padding
 */
.o-team-links {
  li {
    display: inline-block;
    margin-right: 1.2rem;

  }
  a {
    @extend %u-round;
    background: $color-blackcurrant;
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
  }

  &__website {

  }
  &__email {

  }
	&__twitter {

  }
	&__linkedin {

  }
	&__dribbble {

  }
	&__github {

  }
	&__instagram {

  }
	&__stackoverflow {

  }
}

.single-team {
  .c-hero {
    &__image {
      width: 308px;
    }

    .team-image {
      &:before {
        height: 308px;
        opacity: .8;
        width: 308px;
      }
      img {
        border-radius: 0 0 154px 154px;
      }
    }
  }
}
