
.team-image {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  position: relative;

  &:before {
    @extend %u-block;
    @extend %u-round;
    background: linear-gradient(135deg, rgba(252, 252, 252, 1) 0%, rgba(201, 201, 201, 1) 100%);
    bottom: 0;
    content: '';
    height: 150px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 150px;
    z-index: 1;
  }

  img {
    height: auto;
    width: 100%;
    z-index: 2;
  }
}
