.content-grid {
  max-width: $global-max-width;
  
  @include breakpoint(from-medium) {
    display: grid;
    margin:0 auto;
    grid-template-columns: 4fr 6fr; 
    grid-gap: 1rem;
    
    .o-screens {
      grid-column: 1;
      grid-column-end: span 2;
    }
    
    > h2 {
      grid-column: 1;
    }
    
    > * {
      grid-column: 2;
    }
    
    h2 + p {
      margin-top:0;
    }
  }
}

.blog-grid {
  display: grid;
  grid-template-columns: 3fr 7fr; 
  grid-gap: 1rem;
  
  &__left {
    grid-column: 1;
  }
  
  &__right {
    grid-column: 2;
  }
}