.content-grid {
  @extend .s-wysiwyg;
  max-width: $global-max-width;

  @include breakpoint(from-medium) {
    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: 4fr 6fr;
    margin: 0 auto;

    .o-screens {
      grid-column: 1;
      grid-column-end: span 2;
    }

    * {
      grid-column: 2;
    }

    h2,
    .o-team-links,
    .ad.ad__left,
    .clutch {
      grid-column: 1;
    }

    h2 + p {
      margin-top:0;
    }

    .ad.ad__center,
    iframe {
      grid-column: 1;
      grid-column-end: span 2;
    }
  }
}

.blog-grid {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-gap: 1rem;

  &__left {
    grid-column: 1;
  }

  &__right {
    grid-column: 2;
  }
}
