/**
 * Custom Admin area styling.
 * Lots of !important because overwriting default cmb2 styles. Quite hacky.
 */

/**
 * cmb2 repeater with only one item in the group.
 */

.cmb-repeat--single .cmb-group-description {
  border-bottom: 0 !important;
}

.cmb-repeat--single .cmb-repeat-group-field {
  border-bottom: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.cmb-repeat--single .cmb-remove-field-row {
  margin: 0 !important;
}

/**
 * cmb2 fields without the container / wrapper
 */

.cmb-row--nowrap {
  padding: 0 !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.cmb-row--nowrap .cmb-group-title {
  border-bottom: 1px solid #eee !important;
  background: none !important;
}

.cmb-row--nowrap .postbox.closed h3 {
  border: none !important;
}

.cmb2-options-page .cmb2-type-title--simple {
  margin-top: -1px !important;
  background-color: #fff !important;
}

.cmb2-radio-bg {
  display: inline-block;
  padding: 3px;
  color: #fff;
}

/**
 * cmb2 Style fixes and tweaks
 */

h2.cmb-group-name {
  display: block !important;
  padding: 5px 0 !important;
  font-weight: 600 !important;
}

.cmb-nested.cmb-field-list.cmb-repeatable-group > .cmb-row {
  border: 0;
}

/**
 * Fancy colored backgrounds for radio button labels. TODO: Use the real colors!
 */

.cmb2-radio-bg--gray {
  background: #7E7E81;
}

.cmb2-radio-bg--orange {
  background: linear-gradient(135deg, #FC835E, #FE5284);
}

.cmb2-radio-bg--blue {
  background: linear-gradient(135deg, #7abbd9, #98cdc3);
}

.cmb2-radio-bg--gray {
  background: gray;
}
