.clutch-container {
  @extend %u-bg-color-white;
  @extend %u-pos-absolute;
  @extend %u-right;
  @extend %u-bottom;
  @extend %u-display-none--upto-tiny;
  @extend %u-flex--from-tiny;
  justify-content: center;
  height: 60px;

  @include breakpoint(upto-full) {
    bottom: -30px;
  }

  @include breakpoint(upto-medium) {
    bottom: -60px;
  }

  @include breakpoint(upto-small) {
    bottom: -80px;
    width: 100%;
  }
}

.clutch-widget,
.goodfirm-widget {
  @extend %u-pos-relative;

  iframe {
    opacity: 0;
  }

  &.js-loaded iframe {
    opacity: 1;
  }
}

// Default (supplied by clutch) classname for the widget
.clutch-widget {
  width: 200px;
  padding-top: 9px;
  padding-bottom: 2px;
  padding-left: 12px;

  iframe {
    transition: opacity .5s;
  }
}

.goodfirm-widget {
  width: 160px;
  height: 100%;

  iframe {
    margin-top: -15px;
    transition: opacity .5s .5s;
  }
}

// Extra clutch link we've squeezed into the clutch-widget <div>
// - is a sibling to the iframe containing the 'actual' widget
.clutch-link,
.goodfirm-link {
  @extend %u-pos-absolute;
  @extend %u-top;
  @extend %u-right;
  @extend %u-bottom;
  @extend %u-left;

  &:focus {
    outline: 1px dotted currentColor;
    outline-offset: -1px;
  }

  &:hover {
    @extend %u-underline;
  }
}
