.clutch-container {
  @extend %u-bg-color-white;
  @extend %u-pos-absolute;
  @extend %u-right;
  @extend %u-bottom;
  @extend %u-display-none--upto-medium;
  display: flex;
  width: 390px;

  // Default (supplied by clutch) classname for the widget
  .clutch-widget {
    @extend %u-pos-relative;
    padding-top: 9px;
    padding-bottom: 2px;
    padding-left: 8px;
    width: 200px;
  }

  // Extra clutch link we've squeezed into the clutch-widget <div>
  // - is a sibling to the iframe containing the 'actual' widget
  .clutch-link {
    @extend %u-pos-absolute;
    @extend %u-top;
    @extend %u-right;
    @extend %u-bottom;
    @extend %u-left;

    &:focus {
      outline: 1px dotted currentColor;
      outline-offset: -1px;
    }

    &:hover {
      @extend %u-underline;
    }
  }

  .goodfirm-widget {
    width: 180px;
    height: 60px;

    iframe {
      margin-top: -15px;
      height: 70px;
    }
  }
}
