/**
 * The Gravity Form version that appears on the contact page and when using the standard gform shortcode
 */
.c-content-grid > .gform_wrapper,
.s-content > .gform_wrapper {
  grid-column: 1 / -1;

  .gfield {
    @extend %u-flex;
    @extend %u-fw-wrap;
    align-items: baseline;

    // Resets
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }

  .gform_fields {
    @extend %u-flex;
    @extend %u-fw-wrap;
    @extend %u-mh--2;
    @extend %u-mv-6;

    .gfield {
      @extend %u-ph-2;
      @extend %u-border-box;
      @extend %u-width-100pc--upto-small;
      @extend %u-width-50pc--from-small;

      &.full-width {
        width: 100%;
      }

      &.gform_hidden {
        display: none;
      }

      &.hidden_label label {
        @extend .o-dictate;
      }
    }
  }

  .ginput_recaptcha::before {
    display: none;
  }

  .grecaptcha-badge {
    border: 2px solid $color-gray;
    box-shadow: unset !important;
  }

  .ginput_container {
    @extend %u-flex;
    @extend %u-pos-relative;
    @extend %u-width-100pc;
    order: 1; // After the name and validation messages

    &:before,
    &:after {
      @extend %u-content;
      @extend %u-pos-absolute;
      @extend %u-left;
      @extend %u-bottom;
      @extend %u-width-100pc;
      @extend %u-z-index--1;
      height: 2px;
      transform-origin: top left;
    }

    &:before {
      @extend %u-bg-color-gray;
    }

    &:after {
      @extend %u-bg-color-currentColor;
      transform: scale(0);
      transition: .1s transform;
    }

    &:focus-within:after {
      transform: scale(1);
      transition: .2s transform;
    }
  }

  .ginput_container_textarea {
    @extend %u-mt-2;
    padding: 2px;

    &:before,
    &:after {
      height: 100%;
    }
  }

  input[type='email'],
  input[type='text'],
  textarea {
    @extend %u-block;
    @extend %u-pv-1;
    @extend %u-fg-1;
    margin: 2px;
    border: none;
    font-size: unset;

    &:focus {
      outline: none; // Reset
    }
  }

  textarea {
    @extend .type-p;
    @extend %u-bg-color-white;
    @extend %u-border-box;
    @extend %u-pad-2;
    margin: 0;
    resize: vertical;
  }

  .gform_button {
    background: none;
    border: none;
    @extend .c-button;
    @extend .c-button--underlined-dark;
  }
}
