.wp-block-custom{
	background: #ffde00;
	padding: 40px 20px;
}

.custom-block-form-wrap {
	border: 2px solid #494633;
display: flex;
justify-content: space-between;
max-width: 400px;
margin-left: auto;
margin-right: auto;
font-size: 18px;
}

.custom-block-form-wrap input[type="email"] {
    padding: 8px 16px;
		border:0;
		width:100%;
		background:none;
		display:block;
}

.custom-block-form-wrap button {
	background-color: #494836;
color: #ffde00;
padding: 8px 20px;
font-weight: bold;
display:block;
border-radius:0;
}

.custom-block-form-wrap input::placeholder {
	color:#494633;
}
