.s-banner {
  h1 {
    @extend .type-headline;

    em {
      font-style: normal;
      color: $color-blackcurrant;
    }
  }

  h2 {
    @extend .type-headline; // It's basically a headline, but not a -plz-only-1-h1-
  }

  h3 {
    @extend .type-title;
  }

  h4 {
    @extend .type-subtitle;
  }

  h5 {
    @extend .type-subheadline; // Basically just normal text but bold w/margins
    margin-top: 1.5em;
  }

  p {
    @extend .type-p;
    max-width: 37rem; // This gives the small text in banners a fixed max-width. It works, but is a bit magic
    margin-top: 1.5em;
    margin-bottom: 1rem; // Fixed margin bottom? John can't remember what this is about
  }

  br {
    @extend %u-display-none--upto-large;
  }

}
