
.s-banner {

  @extend %u-color-white;

  @for $level from 1 through 5 {
    h#{$level} {
      margin: 0;

      em {
        font-style: normal;
        color: $color-blackcurrant;
      }
    }
  }

  h1 {
    @extend .type-headline;
  }

  h2 {
    @extend .type-subtitle;
  }

  h3 {

  }

  p {
    @extend .type-p--large;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: underline;
  }

}
