.s-content {
  @extend .s-wysiwyg;

  h2 {
    @extend .type-headline; // It's basically a headline, but not a -plz-only-1-h1-
    margin-bottom: 1.5rem;
  }

  h3 {
    @extend .type-title;
    margin-bottom: 1.5rem;
  }

  h4 {
    @extend .type-subtitle;
    margin-bottom: 1.5rem;
  }

  h5 {
    @extend .type-subheadline; // Basically just normal text but bold w/margins
    margin-top: 1.25em;
    margin-bottom: 1rem;
  }

  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child) {
    margin-top: 2rem;
    margin-top: calc((var(--container-width) / 20) + 3rem);
  }

  & > h2:first-child,
  & > h3:first-child,
  & > h4:first-child {
    margin-top: 1rem;
  }

  h2:not(:first-child) + p,
  h3:not(:first-child) + p,
  h4:not(:first-child) + p {
    margin-top: 2rem;
    margin-top: calc((var(--container-width) / 20) + 3rem);
  }

  p > a,
  li > a {
    transition: .1s text-decoration-color;
    text-decoration-color: $color-orange;

    &:focus,
    &:hover {
      text-decoration-color: $color-gray-dark;
    }
  }

  p > a > img {
    @extend %u-width-100pc;
    @extend %u-height-auto;
    @extend %u-mv-4; // 6 (3rem) minus 2 (1rem) for the <p> margins
  }
}
