
.s-wysiwyg {

  p {
    @extend %u-mv-2;
    @extend .type-p;
  }

  h2 {
    line-height: 1.4;
  }

  p,
  li {
    line-height: 1.6;
  }

  p > a,
  li > a,
  li > a {
    @extend .type-fancy-inline-link;
    color: $color-pink;
  }

  em,
  i {
    font-style: italic;
  }

  strong,
  b {
    @extend %u-bold;
  }


  ul,
  ol {
    margin-bottom: 1rem;

    li {
      margin: .7rem 0 .7rem 2rem;
      padding-left: 1rem;
    }
  }

  ul {
    li {
      list-style: square;
    }
  }

  ol {
    li {
      list-style: decimal;
    }
  }

  a {
    &:focus,
    &:active {
      outline: 1px dotted currentColor;
    }
  }
}
