/**
 * Gives an element an :after pseudo, with an error message.
 *
 * Used with gulp-replace or similar build tool to removed it for production, e.g:
 * (just before gulp-clean-css)
 * .pipe(replace(/(\/\* dev-only:start \*\/[^]*\/\* dev-only:end \*\/)/g, ''))
 */
@mixin error($message) {
  &:after {
    /* dev-only:start */
    clip-path: none !important;
    width: 100% !important;
    font-family: monospace !important;
    font-size: 14px !important;
    content: 'Error: ' + $message !important;
    /* dev-only:end */
  }
}
