.c-award-links {
  @extend %u-flex;
  @extend %u-fw-wrap;
  @extend %u-ai-center;
  @extend %u-jc-center;
  gap: 2rem;

  &__link {
    @extend %u-pad-2;
    @extend %u-border-radius-md;
    transition: background-color .2s;

    &:hover,
    &:focus-visible {
      @extend %u-bg-color-gray-bluish;
    }

    img {
      @extend %u-block;
      width: 200px;
      height: 200px;
    }
  }
}
