
.c-blockquote {
  @extend %u-gray-borders;
  @extend %u-pv-5;
  @extend %u-mv-6;

  $self: &;

  p {
    @extend .type-quote;
    margin-top: 0;
  }

  &__image {
    @extend %u-block;
    width: 60px;
    margin-right: 1.5rem;
  }

  &__person {
    @extend %u-flex;
    @extend %u-fd-column;
    @extend %u-fw-wrap;
    @extend %u-jc-center;
    height: 64px;
    line-height: 1.6;
  }

  &__name {
    @extend %u-block;
    @extend %u-bold;
  }

  a:focus,
  a:hover {

    #{$self}__title {
      @extend %u-underline;
    }
  }

  a:focus {
    outline: 1px dotted currentColor;
    outline-offset: 4px;
  }

  footer {
    @extend %u-flex;
    @extend %u-ai-center;
    @extend %u-jc-flex-start;
    @extend %u-pos-relative;
    @extend %u-mt-5;
  }

  &__team-image {
    @extend %u-pos-relative;

    img {
      @extend %u-block;
      @extend %u-pos-absolute;
      @extend %u-bottom;
      @extend %u-left;
      @extend %u-right;
      border-radius: 0 0 30px 30px;
    }

    &:before {
      @extend %u-block;
      @extend %u-bg-color-gray-light;
      @extend %u-content;
      @extend %u-round;
      width: 60px;
      height: 60px;
    }
  }
}
