
.c-button {

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &--simple {
    @extend %u-pos-relative;
    padding-top: 6px;
    padding-bottom: 6px;
    outline-offset: 3px;
    -webkit-tap-highlight-color: transparent;

    &:after {
      @extend %u-pos-absolute;
      @extend %u-content;
      @extend %u-bg-color-currentColor;
      @extend %u-bottom;
      @extend %u-left;
      width: 0;
      height: 2px;
      transition: all $transition-fast;
    }

    &:hover:after {
      width: 1rem;
    }

    // Focus w/ keyboard
    &.focus-visible {
      outline: 1px dotted currentColor;

      &:after {
        width: 1rem;
      }
    }

    // Focus w/ mouse not keyboard
    &:focus:not(.focus-visible) {
      outline: none;

      &:after {
        width: 100%;
      }
    }

    &--flipped:after {
      right: 0;
      left: auto;
    }

    &--active:after {
      width: 100% !important; // Boo
    }

    &:active {
      outline: 1px dotted currentColor !important;
    }
  }

  &--underlined {
    @include error('Use just c-button--underlined-dark or c-button--underlined-light, instead of c-button--underlined');
  }

  // We use @supports clip-path to figure out if we can make the underline bent
  //  - if we can, we add clip-path and override defaults for padding & height.
  &--underlined-light,
  &--underlined-dark {
    @extend .type-cta;
    @extend %u-pos-relative;
    padding-bottom: .5rem;

    @supports (clip-path: polygon()) {
      padding-bottom: 1.5rem; // Enough space for the underline
    }

    &:after {
      @extend %u-block;
      @extend %u-pos-absolute;
      @extend %u-bottom;
      @extend %u-left;
      @extend %u-content;
      @extend %u-width-100pc;
      height: 2px;

      @supports (clip-path: polygon()) {
        clip-path: polygon(
          0 0,
          calc(100% - 22px) 0,
          100% 7px,
          100% 9px,
          calc(100% - 22px) 2px,
          0 2px,
          0 0
        );
        height: 10px;
      }

      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: .2s background-size;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    &.focus-visible {
      outline: 1px dotted currentColor;
    }

    &:focus:after,
    &:hover:after {
      background-size: 100% 100%;
    }
  }

  &--underlined-dark:after {
    @extend %u-bg-color-gray;
    background-image: linear-gradient($color-blackcurrant, $color-blackcurrant);
  }

  &--underlined-light:after {
    @extend %u-bg-color-white;
    background-image: linear-gradient($color-orange, $color-orange);
  }

}
