.c-button {
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &--simple {
    @extend %u-pos-relative;
    padding-top: 6px;
    padding-bottom: 6px;
    outline-offset: 3px;

    &:after {
      @extend %u-pos-absolute;
      @extend %u-content;
      @extend %u-bg-color-currentColor;
      @extend %u-bottom;
      @extend %u-left;
      width: 0;
      height: 2px;
      transition: all $transition-fast;
    }

    &:hover:after {
      width: 1rem;
    }

    &:focus:after {
      width: 100%;
    }

    // Focus w/ keyboard
    &:focus-visible {
      outline: 1px dotted currentColor;

      &:after {
        width: 1rem;
      }
    }

    // Focus w/ mouse not keyboard
    &:focus:not(:focus-visible) {
      outline: none;
    }

    &--flipped:after {
      right: 0;
      left: auto;
    }

    &--active:after {
      width: 100% !important; // Boo
    }

    &:active {
      outline: 1px dotted currentColor !important;
    }
  }

  &--pill {
    @extend %u-flex;
    @extend %u-ai-center;
    @extend %u-jc-center;
    @extend %u-color-blackcurrant;
    @extend %u-bg-color-white;
    @extend %u-ph-2;
    @extend %u-ph-3--from-small;
    min-height: 3rem;
    border-radius: 1e3px;
    transition: background .1s, box-shadow .3s, transform .3s;

    &:hover {
      // simple version // box-shadow: 0 1px 12px rgba($color-blackcurrant, .15);
      box-shadow: -3px 4px 0 rgba($color-blackcurrant, .9);
      transform: translate(3px, -4px);
      transition: background .1s, box-shadow .15s, transform .15s;
    }

    &:focus-visible {
      text-decoration: underline;
    }

    &:active {
      background: $color-gray-light;
    }

    &:hover:active {
      box-shadow: -1px 2px 0 rgba($color-blackcurrant, .9);
      transform: translate(1px, -2px);
    }
  }

  &--chevron {
    display: flex;
    align-items: center;

    &:before {
      display: block;
      width: .5em;
      height: .5em;
      order: 1;
      border-top: .1em solid currentColor;
      border-right: .1em solid currentColor;
      margin-left: .5rem;
      content: '';
      transform: rotate(45deg);
    }
  }

  &--underlined {
    @include error('Use just c-button--underlined-dark or c-button--underlined-light, instead of c-button--underlined');
  }

  // We use @supports clip-path to figure out if we can make the underline bent
  //  - if we can, we add clip-path and override defaults for padding & height.
  &--underlined-light,
  &--underlined-dark {
    @extend .type-cta;
    @extend %u-pos-relative;
    padding-bottom: 1rem;
    outline-offset: 3px;

    &:after {
      @extend %u-block;
      @extend %u-pos-absolute;
      @extend %u-bottom;
      @extend %u-left;
      @extend %u-content;
      @extend %u-width-100pc;
      height: 2px;
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: .2s background-size;
    }

    @supports (clip-path: polygon(0 0)) {
      padding-bottom: 1.5rem; // Enough space for the underline

      &:not(:empty):after {
        clip-path: polygon(
          0 0,
          calc(100% - 22px) 0,
          100% 7px,
          100% 9px,
          calc(100% - 22px) 2px,
          0 2px,
          0 0
        );
        height: 10px;
      }
    }

    &:empty {
      width: 110px; // About the same as "Read more"
      padding-bottom: .5rem;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    &:focus:after,
    &:hover:after {
      background-size: 100% 100%;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      outline: 1px dotted currentColor;
    }
  }

  &--underlined-dark:after {
    @extend %u-bg-color-gray;
    background-image: linear-gradient($color-blackcurrant, $color-blackcurrant);
  }

  &--underlined-light:after {
    @extend %u-bg-color-white;
    background-image: linear-gradient($color-orange, $color-orange);
  }

}
