
.c-button {

  &:hover {
    cursor: pointer;
  }

  &--simple {
    @extend %u-pos-relative;
    padding-top: 6px;
    padding-bottom: 6px;
    outline-offset: 3px;

    &:after {
      @extend %u-pos-absolute;
      @extend %u-content;
      @extend %u-bg-color-currentColor;
      @extend %u-bottom;
      @extend %u-left;
      width: 0;
      height: 2px;
      transition: all $transition-fast;
    }

    &:hover:after {
      width: 1rem;
    }

    // Focus w/ keyboard
    &.focus-visible {
      outline: 1px dotted currentColor;

      &:after {
        width: 1rem;
      }
    }

    // Focus w/ mouse not keyboard
    &:focus:not(.focus-visible) {
      outline: none;

      &:after {
        width: 100%;
      }
    }

    &--flipped:after {
      right: 0;
      left: auto;
    }

    &--active:after {
      width: 100% !important; // Boo
    }
  }

  &--underlined {
    @include error('Use just c-button--underlined-dark or c-button--underlined-light, instead of c-button--underlined');
  }

  &--underlined-light,
  &--underlined-dark {
    @extend .type-cta;
    @extend %u-pos-relative;
    padding-bottom: 1.5rem; // Enough space for the underline

    &:after {
      @extend %u-block;
      @extend %u-pos-absolute;
      @extend %u-bottom;
      @extend %u-left;
      @extend %u-content;
      @extend %u-width-100pc;
      clip-path: polygon(
        0 0,
        calc(100% - 22px) 0,
        100% 7px,
        100% 9px,
        calc(100% - 22px) 2px,
        0 2px,
        0 0
      );
      height: 10px;
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: .2s background-size;
    }

    &:focus:after,
    &:hover:after {
      background-size: 100% 100%;
    }
  }

  &--underlined-dark:after {
    @extend %u-bg-color-gray;
    background-image: linear-gradient($color-blackcurrant, $color-blackcurrant);
  }

  &--underlined-light:after {
    @extend %u-bg-color-white;
    background-image: linear-gradient($color-orange, $color-orange);
  }

}
