
.c-case-study-block--small {
  $self: '.c-case-study-block';

  #{$self}__image-medium {
    @extend %u-display-none--upto-small;
    width: 200px;
    height: 200px;

    img {
      @extend %u-width-100pc;
      @extend %u-height-100pc;
    }
  }

  #{$self}__image-small {
    @extend %u-display-none--from-small;
  }

  #{$self}__logo {
    @extend %u-mt-8--from-small;
  }

  #{$self}__title {
    // This DOES NOT flip between being a link and not being a link on desktop/mobile

    @extend %u-mt-6;

    &__link {
      @extend .type-subtitle;
      font-size: 26px; // Stuck at the mobile font size rather than scaling
      line-height: 1.3; // Has to be smaller for hovering to not fall between lines

      &:focus,
      &:hover {
        @extend %u-underline;
      }
    }
  }

  #{$self}__background {
    @extend %u-width-100pc;
    @extend %u-height-100pc;
  }

  #{$self}__content {
    @extend %u-mh-auto--upto-small;
    @extend %u-height-100pc--from-small;
    @extend %u-pos-relative--upto-small;
    @extend %u-pos-absolute--from-small;

    @include breakpoint(upto-small) {
      width: var(--container-width);
    }

    @include breakpoint(from-small) {
      left: calc(100px + 30%);
    }
  }

  @include breakpoint(from-small) {
    height: 320px;

    #{$self}__background {

      &:before {
        clip-path: polygon(
          0 0,
          100% 0,
          100% 50%,
          calc(100% - 38px) 100%,
          0 100%,
          0 0
        );
        width: 300px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &--staggered {

    @extend %u-width-100pc--upto-small;

    @include breakpoint(from-small) {
      flex-grow: 1;
      min-width: 400px;
      max-width: 500px;
    }

    @include breakpoint(from-medium) {
      //width: 500px; // So when staggered they're not too big
    }

    &:nth-child(even) {
      @extend %u-ml-auto--from-small;
    }

    @include breakpoint(from-large) {
      margin-bottom: 4px;

      // So the next ones doesn't sneak up onto the same line
      &:nth-child(odd) {
        min-width: 500px;
        margin-right: 50%;
      }
    }
  }

}
