
.c-case-study-block {
  $self: &;

  @extend %u-flex;
  @extend %u-fd-column;
  @extend %u-ai-flex-start;
  @extend %u-mv-5--upto-small;
  @extend %u-pos-relative;
  @extend %u-pv-5--upto-small;
  @extend %u-mt-12--upto-small;
  @extend %u-mb-6--from-small;

  // The block itself, if an <a> can't be clicked, but the background and
  // the words can be...
  pointer-events: none;

  #{$self}__image-small {
    @extend %u-display-none--from-small;
    @extend %u-pos-absolute;
    @extend %u-right;
    @extend %u-translateY--50pc;
    top: -2.5rem;

    img {
      @extend %u-block;
      width: 125px;
      height: 125px;
    }
  }

  #{$self}__title {
    @extend %u-mt-6--upto-small;
    @extend %u-mt-4--from-small;
  }

  #{$self}__logo {
    @extend %u-bg-color-currentColor;
  }

  // Gray contains the grey background and bg & fg images
  #{$self}__background {
    @extend %u-height-100pc--upto-small;
    @extend %u-width-100pc--upto-small;
    @extend %u-flex;
    @extend %u-ai-center;
    @extend %u-pos-absolute;
    @extend %u-top;
    pointer-events: all;

    img {
      @extend %u-block;
    }

    &:before {
      @extend %u-content;
      @extend %u-pos-absolute;
      @extend %u-bg-color-gray-light;
      @extend %u-top;
      @extend %u-right;
      @extend %u-bottom;
      @extend %u-left;
      @extend %u-z-index--1;
    }
  }

  #{$self}__content {
    @extend %u-flex;
    @extend %u-fd-column;
    @extend %u-ai-flex-start;
    @extend %u-z-index-1;

    & > * {
      pointer-events: all;
    }
  }

  // Make the links have focus/hover when block interacted with
  &:focus,
  &:hover {
    #{$self}__link:after {
      background-size: 100% 100%;
    }

    #{$self}__title__link {
      text-decoration: underline;
    }
  }
}

.c-empty-case-study-block {
  @extend %u-display-none--upto-small;
}
