
.c-case-study-block--large {
  $self: '.c-case-study-block';

  @extend %u-width-100pc;
  @extend %u-flex;
  @extend %u-jc-center;
  // margin-top & margin-bottom are in _case-study-block.scss
  // mt--from-small is in breakpoint(from-small) because it's 'uge

  #{$self}__title {
    // This flips between being a link and not being a link on desktop/mobile

    &__plain {
      @extend %u-display-none--upto-small;
      @extend .type-title;
      pointer-events: all;
    }

    &__link {
      @extend %u-display-none--from-small;
      @extend .type-subtitle;
      line-height: 1.3; // Has to be smaller for hovering to not fall between lines
      pointer-events: all;

      &:focus,
      &:hover {
        @extend %u-underline;
      }

      @include breakpoint(upto-small) {
        // Stick to mobile font size rather than scaling, to match small case study blocks
        font-size: 26px;
      }
    }
  }

  #{$self}__link {
    @extend %u-display-none--upto-small;
    @extend %u-inline-flex; // Gets the margin working
    @extend %u-mt-7;
  }

  #{$self}__content {
    @extend %u-pos-relative;
    @extend %u-mh-auto--upto-small;

    @include breakpoint(upto-small) {
      width: var(--container-width);
    }
    @include breakpoint(from-small) {
      max-width: 25rem;
    }
  }

  #{$self}__image-background {

    img {
      @extend %u-display-none--upto-small;
      width: 100%;
      max-width: 872px;
      height: auto;
    }
  }

  // Floaty on top image
  #{$self}__image-large {
    @extend %u-display-none--upto-small;
    @extend %u-flex--from-small;
    @extend %u-ai-flex-end;
    @extend %u-pos-absolute;
    @extend %u-top;
    width: 100%;
    max-width: 872px;
    height: calc(100% + 2rem);
    margin-top: -5rem;
    pointer-events: none;

    img {
      @extend %u-width-100pc;
      max-width: 410px;
      height: auto;
      // Removed margins because Tom thought they were centered(?)
      // Re-added margins cause all the imagery was designed to work with them...
      margin-right: 8%;
      margin-left: 8%;
    }
  }

  @include breakpoint(from-small) {
    height: 31rem;
    margin-top: 7rem;
    transition: .3s transform, .5s opacity;
    --clip-dist-h: 82px; // horizontal clip-path polygon distance
    --clip-dist-v: 48px; // vertical clip-path polygon distance

    &.js-offscreen {
      opacity: 0;
      // translateX defined in (even) and (odd)
    }

    &.js-onscreen {
      opacity: 1;
      transform: translateX(0);
    }

    #{$self}__background {
      width: calc(50% + 8rem);
      height: 100%;
      pointer-events: none; // Make the cut off corner not click-able
    }

    #{$self}__background:before {
      pointer-events: all; // Make the cut off corner not click-able
    }

    &:nth-child(odd) {
      &.js-offscreen {
        transform: translateX(-100px);
      }

      #{$self}__content {
        margin-left: calc(50% + 5rem);
      }

      #{$self}__background {
        left: 0;
        justify-content: flex-end; // Keep bg image near center of screen

        &:before {
          clip-path: polygon(
            0 0,
            100% 0,
            100% var(--clip-dist-h),
            calc(100% - var(--clip-dist-v)) 100%,
            0 100%,
            0 0
          );
        }
      }

      #{$self}__image-large {
        padding-right: 3rem;
        box-sizing: border-box;
      }
    }

    &:nth-child(even) {
      align-items: flex-end;

      &.js-offscreen {
        transform: translateX(100px);
      }

      #{$self}__content {
        width: stretch;
        width: -moz-available;
        width: -webkit-fill-available;
        margin-right: calc(50% + 7.3rem); // Was 5rem before uuhmmm
      }

      #{$self}__background {
        right: 0;
        justify-content: flex-start; // Keep bg image near center of screen

        &:before {
          clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            var(--clip-dist-v) 100%,
            0 var(--clip-dist-h),
            0 0
          );
        }
      }

      #{$self}__image-large {
        justify-content: flex-end;
      }
    }
  }
}
