
.c-case-study-block--small {
  $self: '.c-case-study-block';

  #{$self}__background {
    @extend %u-flex;
    @extend %u-width-100pc;
    @extend %u-height-100pc;
    @extend %u-ai-center;

    &:before {
      right: 100px;
      left: 100px;

      clip-path: polygon(
        0 0,
        100% 0,
        100% 50%,
        calc(100% - 38px) 100%,
        0 100%,
        0 0
      );
    }
  }

  #{$self}__image-medium {
    @extend %u-display-none--upto-small;
    width: 200px;
    height: 200px;

    img {
      @extend %u-width-100pc;
      @extend %u-height-100pc;
    }
  }

  #{$self}__image-small {
    @extend %u-display-none--from-small;
  }

  #{$self}__content {
    @extend %u-pos-absolute;
    @extend %u-height-100pc;
    left: 50%;
  }

  #{$self}__logo {
    @extend %u-mt-8;
  }

  #{$self}__title {
    // This DOES NOT flip between being a link and not being a link on desktop/mobile

    @extend %u-mt-6;

    &__link {
      @extend .type-subtitle;
      font-size: 26px; // Stuck at the mobile font size rather than scaling
      line-height: 1.3; // Has to be smaller for hovering to not fall between lines

      &:focus,
      &:hover {
        @extend %u-underline;
      }
    }
  }

  @include breakpoint(from-small) {
    height: 320px;
  }

}
