
.c-case-study-block--small {
  $self: '.c-case-study-block';

  #{$self}__image-medium {
    @extend %u-display-none--upto-small;
    width: 200px;
    height: 200px;

    img {
      @extend %u-width-100pc;
      @extend %u-height-100pc;
    }
  }

  #{$self}__image-small {
    @extend %u-display-none--from-small;
  }

  #{$self}__logo {
    @extend %u-mt-8--from-small;
  }

  #{$self}__title {
    // This DOES NOT flip between being a link and not being a link on desktop/mobile

    @extend %u-mt-6;

    &__link {
      @extend .type-static-subtitle;

      &:focus,
      &:hover {
        @extend %u-underline;
      }
    }
  }

  #{$self}__background {
    @extend %u-width-100pc;
    @extend %u-height-100pc;
  }

  #{$self}__content {
    @extend %u-mh-auto--upto-small;
    @extend %u-height-100pc--from-small;
    @extend %u-pos-relative--upto-small;
    @extend %u-pos-absolute--from-small;

    @include breakpoint(upto-small) {
      width: var(--container-width);
    }

    @include breakpoint(from-small) {
      left: calc(100px + 30%);
    }
  }

  @include breakpoint(from-small) {
    flex-grow: 1; // Only really needed for staggered?
    min-width: 385px; // Slightly hacky number that keeps them on multiple lines
    max-width: 500px;
    height: 320px;

    #{$self}__background {

      &:before {
        clip-path: polygon(
          0 0,
          100% 0,
          100% 50%,
          calc(100% - 38px) 100%,
          0 100%,
          0 0
        );
        width: 300px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &--staggered {
    @extend %u-width-100pc--upto-small;

    &:nth-child(even) {
      @extend %u-ml-auto--from-small;
    }

    @include breakpoint(from-large) {
      margin-bottom: 4px;

      // Just enough so the next ones doesn't sneak up onto the same line
      &:nth-child(odd) {
        min-width: 500px;
        margin-right: 50%;
      }
    }
  }

  &--pair {
    @extend %u-width-100pc--upto-medium;
    @extend %u-mh-auto--from-small--upto-medium;

    @include breakpoint(from-small--upto-medium) {
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint(from-medium) {
      margin-bottom: 0;
    }
  }

}
