
.c-case-study-block--more {
  $self: '.c-case-study-block';

  @include breakpoint(from-small) {
    height: 8rem;
    --clip-dist-h: 40px;  // horizontal clip-path polygon distance
    --clip-dist-v: 18px;  // vertical clip-path polygon distance
  }

  #{$self}__link {
    margin-top: 1.5rem;
    display: block !important;
  }

  &__content {
    @extend %u-flex;
    @extend %u-ai-center;
    flex-direction: row;
  
    & img {
      margin-right: 1rem;
      margin-top: 10px;
    }
  }
}
