.o-container-client-testimonial {
  margin: 0 1.25rem;
  margin-top: 5rem;
  background-color: rgba(255, 182, 193, 0.5);
}

.c-service-client-testimonial {
  padding-top: 5.2rem;
  margin: 0;

  &__title {
    @extend %u-color-orange-old;
    padding-bottom: 1rem;
  }

  &__p {
    @extend %u-sailec;
    @extend %u-color-blackcurrant;
    @include fontScale(28, 32);
    @include lineScale(44, 48);
    margin: 0;
  }

  &__footer {
    padding-bottom: 4.5rem;
    padding-top: 10px;

    &-name {
      @extend %u-vbold;
      @extend %u-sailec;
      @extend %u-text-align-right;
      @extend %u-color-blackcurrant;
      font-size: 16px;
      line-height: 1.5;

    }

    &-job,
    &-title {
      @extend %u-color-blackcurrant;
      @extend %u-sailec;
      @extend %u-text-align-right;
      font-size: 12px;
      line-height: 1.5;
    }
  }

  &__title,
  &__p,
  &__footer {
     @include breakpoint(upto-small) {
       padding-left: 1.4rem;
       padding-right: 1.4rem;
      }
  }
}
