.o-container-client-testimonial {
  margin: 0 20px;
  margin-top: 80px;
  background-color: rgba(255, 182, 193, 0.5);
}

.c-service-client-testimonial {
  padding-top: 83px;
  margin: 0;

  &__title {
    @extend %u-color-orange-old;
    padding-bottom: 16px;
  }

  &__p {
    @extend %u-sailec;
    @extend %u-color-blackcurrant;
    @include fontScale(28, 32);
    @include lineScale(44, 48);
    font-style: normal;
    margin: 0;
  }

  &__footer {
    padding-bottom: 73px;
    &-name {
      @extend %u-vbold;
      @extend %u-sailec;
      @extend %u-text-align-right;
      @extend %u-color-blackcurrant;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
    }

    &-job,
    &-title {
      @extend %u-color-blackcurrant;
      @extend %u-sailec;
      @extend %u-text-align-right;
      font-style: normal;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
