.c-clutch {
  @extend %u-inline-flex;
  @extend %u-ai-center;
  @extend %u-ml-auto--from-small;
  @extend %u-mv-1;

  &__logo {
    width: 68px;
    height: 19px;
    background: url('../../dist/svg/clutch-logo.svg') no-repeat 0 0;
    background-size: 68px 19px;
  }

  &__score {
    width: 65px;
    height: 13px;
    margin-left: 6px;
    background: url('../../dist/svg/clutch-star.svg') repeat-x 0 0;
  }
}

h2 + .c-clutch {
  margin-top: 2rem;
}
