.c-clutch {
  @extend %u-inline-flex;

  //font-weight: 700;
  //padding-left: 70px;

  &__logo {
    width: 68px;
    height: 19px;
    background: url('../../dist/svg/clutch-logo.svg') no-repeat 0 0;
    background-size: 68px 19px;
  }

  &__score {
    //display: inline-block;
    width: 65px;
    height: 13px;
    background: url('../../dist/svg/clutch-star.svg') repeat-x 0 0;
  }
}

h2 + .clutch {
  margin-top: 2rem;
}
