
.c-contact-block {
  @extend %u-mv-3--upto-medium;
  @extend .type-p;

  $self: &;

  &__title {
    @extend %u-mt-3;
    @extend %u-bold;
  }

  &__text {
    margin: 0;
  }

  &:active,
  &:focus,
  &:hover {
    #{$self}__text {
      @extend %u-underline;
    }

    .c-social-link:before {
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      opacity: 1;
    }
  }
}
