.c-current-roles {

    & div {
        @extend %u-color-white;
        @extend %u-ph-4;
        @extend %u-pt-3;
        @extend %u-pb-6;
        @extend %u-border-radius-md;

        & h3 {
            margin-bottom: 0;
        }

        & p {
            margin: 0;
        }

        & p::first-line {
            color: rgba($color-white, 0.9);
        }
        
        & p :not(:first-child) {
            margin-top: 5rem;
        }

        & p > a {
            @extend %u-color-white;
            background-image: none;
        } 
    }
    
    &__bg-pink,
    &__bg-black {
        @extend %u-pos-relative;
        @extend %u-ov-hidden;

        &:before,
        &::after {
            @extend %u-content;
            @extend %u-pos-absolute;
            @extend %u-top;
            @extend %u-left;
            pointer-events: none;
            background: rgba($color-white, 0.09);
        }

        &::before {
            width: calc(25rem + 25vw);
            height: calc(25rem + 25vw);
        }

        &::after {
            @extend %u-round;
            width: calc(20rem + 20vw);
            height: calc(15rem + 20vw);
        }
    }

    &__bg-pink {
        background: $gradient-orange-pink;

        &::before {
            transform: translate(0%, calc(12% + 5rem)) rotate(-45deg);
        }

        &::after {
            transform: translate(calc(-30vw + 50px), calc(15vw + -50%)) rotate(10deg);
        }

        & p > a {
            @extend .c-button--underlined-dark;
        }
    }

    &__bg-black {
        @extend %u-bg-color-blackcurrant;

        &::before {
            transform: translate(calc(-50% - 10rem), calc(-25% + -6rem)) rotate(-45deg);
        }

        &::after {
            transform: translate(calc(10vw + 50px), calc(26vw + -50%)) rotate(10deg);
        }

        & p > a {
            @extend .c-button--underlined-light;
        }
    }
}
