.c-embed {
  margin-top: calc(var(--container-v-pad));
  margin-bottom: calc(var(--container-v-pad));
}

// E.g. YouTube embeds
.c-embed--video {
  grid-column: 1 / -1;

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 500 / 281;
  }
}

.c-embed--generic {
  .twitter-tweet {
    @extend %u-mh-auto;
  }

  & + & {
    margin-top: calc(var(--container-v-pad) * -1);
  }
}
