.c-fancy-bg {
  @extend %u-pos-relative;
  @extend %u-ov-hidden;
  background: $gradient-orange-pink-light;

  &:before,
  &:after {
    @extend %u-content;
    @extend %u-pos-absolute;
    pointer-events: none;
  }

  &:before {
    @extend %u-round;
    top: -50%;
    width: calc(15rem + 25vw);
    height: calc(15rem + 25vw);
    background: linear-gradient(rgba($color-white, 0), rgba($color-white, 0.2));
    transform: translate(calc(-28rem + 30vw), calc(-50% + 20vw));

    @include breakpoint(from-full) {
      left: 30%;
      transform: translate(calc(-50% - 17rem), calc(-50% + 17rem));
    }
  }

  &:after {
    top: 100%;
    left: 50%;
    width: calc(15rem + 35vw);
    height: calc(15rem + 35vw);
    background: linear-gradient(rgba($color-white, 0), rgba($color-white, 0.4));
    transform: translate(calc(-50% - 5rem), calc(-50% + 5rem)) rotate(-45deg);
  }
}
