
.c-footer {
  @extend %u-bg-color-blackcurrant;
  @extend %u-color-white;

  // The fancy background:

  @extend %u-pos-relative;
  @extend %u-ov-hidden;

  &:before,
  &:after {
    @extend %u-content;
    @extend %u-pos-absolute;
    pointer-events: none;
  }

  &:before {
    @extend %u-bottom;
    @extend %u-left;
    @extend %u-round;
    width: calc(35rem + 25vw);
    height: calc(35rem + 25vw);
    background: linear-gradient(90deg, rgba($color-white, .01), rgba($color-white, .1));
    transform: translate(calc(-28rem + 22vw), calc(-15% + 37vw)) rotate(30deg);
  }

  &:after {
    @extend %u-right;
    top: 20rem;
    width: calc(15rem + 35vw);
    height: calc(15rem + 35vw);
    background: linear-gradient(rgba($color-white, .01), rgba($color-white, .2));
    transform: translate(calc(95% - 30vw), calc(-15rem - 15vw)) rotate(-135deg);
  }

  // End fancy background

  &__main-content {
    @extend %u-mt-2--from-small;

    a {
      @extend .type-inline-link-orange;
    }
  }

  &__contact {
    @extend %u-flex;
    @extend %u-fd-column--upto-medium;
    @extend %u-mh--4;
    @extend %u-mt-6;

    a {
      margin-right: -.1em;
      margin-left: -.1em;
      padding-right: .1em;
      padding-left: .1em;
    }

    &__box {
      @extend %u-mv-2;
      @extend %u-mh-4;
      @extend %u-pos-relative;
      @extend %u-pv-4;
      @extend %u-has-mini-separator;

      @include breakpoint(from-medium) {
        width: 21rem;
      }

      // The 2nd box can't shrink (but others can).
      // This is very content-related and TODO: Make er not specifically no.2
      &:nth-child(2) {
        flex-shrink: 0;
      }

      p {
        @extend %u-m-0;
        line-height: 1.65;
      }

      a {
        @extend .type-inline-link-white;
      }
    }

    &:after {
      @extend %u-block;
      @extend %u-content;
    }
  }

  &__lower {
    @extend %u-flex--from-medium;
    @extend %u-fd-column--upto-medium;
    @extend %u-ai-center--from-medium;
    @extend %u-jc-space-between--from-medium;
  }

  &__social,
  &__links,
  &__copyright {
    @extend %u-mt-2;
    @extend %u-mb-2--from-small;
  }

  &__links {
    @extend %u-flex;
    @extend %u-mh--2--upto-medium;

    &__link-container {
      @extend %u-mh-2;
      @extend %u-nowrap;
    }

    a {
      @extend .type-inline-link-white;
      margin-right: -.1em;
      margin-left: -.1em;
      padding-right: .1em;
      padding-left: .1em;
    }
  }
}
