.c-form-block {
  @extend %u-bg-color-gray-bluish;
  @extend %u-pv-6;
  @extend %u-ph-6--from-large;
  @extend %u-border-box;
  grid-column: 1 / -1;

  @include breakpoint(from-large) {
    margin-right: auto;
    margin-left: auto;
    width: var(--container-width);
    max-width: $global-max-width;
  }

  .gform_wrapper {
    @extend %gform--block;
    @extend %u-border-box;
    @extend .o-container-content;
    max-width: 100%;

    @include breakpoint(from-large) {
      padding-right: 260px;
    }
  }

  .gform_wrapper .gform_body .gfield input {
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;

    @include breakpoint(upto-small) {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &:focus {
      padding-left: 8px;
    }
  }

  .gform_wrapper.gravity-theme .gform_footer {
    @extend %u-ml-6--from-small;
  }

  .gform_wrapper.gravity-theme .gform_footer {
    margin-top: 0;
  }
}

.c-form-block + .o-container-content {
  margin-top: 0;
}
