
.c-header {
  @extend %u-color-white;

  @extend %u-pv-5;
  @extend %u-width-100pc;
  @extend %u-flex;
  @extend %u-ai-center;
  @extend %u-jc-space-between;

  &__home-link {
    @extend %u-block;
    @extend .c-button--simple;
    @extend .c-button--simple--flipped;
    padding: 0; // Get rid of the button padding, as the SVG is a big anyway
    outline-offset: 5px;

    &:after {
      bottom: -2px; // Because it's a big SVG not text, move the underline a bit
    }

    &:focus:not(.focus-visible) {
      outline: none;

      &:after {
        width: 80px; // Try to match the width of the text part of the SVG
      }
    }
  }

  &__nav {
    @extend .type-cta;
    @extend %u-flex;
    @extend %u-fw-wrap;
    @extend %u-mh--2;
    margin-top: 5px; // Line up with Lighthouse logo text
    font-size: 18px;

    ul {
      @extend %u-flex;
      @extend %u-fw-wrap;

      li {
        @extend %u-mh-2;

        a {
          // Set this here as it's tricky to get in the with WP menu PHP
          @extend .c-button--simple;
        }
      }

      .current-menu-item a {
        @extend .c-button--simple--active;
      }
    }
  }
}