
.c-header__nav {
  @extend .type-cta;
  @extend %u-pos-absolute--upto-medium;
  @extend %u-flex;
  @extend %u-fw-wrap;
  @extend %u-mh--2;
  font-size: 18px;
  transition: .2s transform;
  pointer-events: none;

  .menu {
    @extend %u-flex;
    @extend %u-fw-wrap;
    @extend %u-fd-column--upto-medium;
    pointer-events: all;

    .menu-item {
      @extend %u-mv-2--upto-medium;
      @extend %u-mh-6--upto-medium;
      @extend %u-mh-2--from-medium;

      a {
        // Set this here as it's tricky to get in the with WP menu PHP
        @extend .c-button--simple;
        transition: none;
      }
    }

    @at-root body:not(.js-unloading) .c-header__nav {
      .current-menu-item a {
        @extend .c-button--simple--active;
      }
    }
  }

  @include breakpoint(upto-medium) {
    font-size: 26px;
    transform: translateY(-100vh); // Starts hidden

    .menu {
      margin-top: 8rem;
      transform: translateY(50%); // Because it's "centered" in the header still

      .menu-item a {
        opacity: 0;
        transform: translateY(-100%);
      }
    }
  }

  @include breakpoint(from-medium) {
    margin-top: 5px; // Line up with Lighthouse logo text
  }
}

.c-header--mobile-menu-open .c-header__nav .menu-item a {
  opacity: 1;
  transform: translateY(0);
  transition: .1s transform calc(var(--i) * .07s), .7s opacity calc(var(--i) * .07s);
}
