
.c-hero__background {
  @extend %u-pos-absolute;
  @extend %u-top;
  @extend %u-right;
  @extend %u-bottom;
  @extend %u-left;
  @extend %u-z-index--1;
  @extend %u-ov-hidden;

  // Using empty divs for this sucks. TODO: Figure out a way to just :before and :after

  & > * {
    @extend %u-content;
    @extend %u-pos-absolute;
    pointer-events: none;
  }

  $circleSize: calc(22rem + 20vw);

  :nth-child(1) {
    @extend %u-left;
    @extend %u-bottom;
    opacity: 0;
    width: calc(30rem + 20vw);
    height: calc(30rem + 20vw);
    background: linear-gradient(rgba($color-white, 0), rgba($color-white, .3));
    transform: translate(calc(55vw - 560px), 50%) rotate(-45deg);
    transition: 1.5s opacity;
  }

  :nth-child(2) {
    @extend %u-left;
    @extend %u-round;
    @extend %u-bottom;
    opacity: 0;
    width: $circleSize;
    height: $circleSize;
    background: linear-gradient(
      rgba($color-white, 0) 25%,
      rgba($color-white, .05) 50%,
      rgba($color-white, .1) 75%,
      rgba($color-white, .2)
    );
    transform: translate(calc(-10vw + 50px), calc(10vw + -70%)) rotate(45deg);
    transition: 2s opacity, 1.5s transform .1s;
  }

  :nth-child(3) {
    @extend %u-left;
    @extend %u-round;
    @extend %u-bottom;
    opacity: 0;
    width: $circleSize;
    height: $circleSize;
    background: linear-gradient(
      rgba($color-white, 0) 25%,
      rgba($color-white, .05) 50%,
      rgba($color-white, .1) 75%,
      rgba($color-white, .2)
    );
    transform: translate(calc(50vw + 250px), 50%) rotate(-135deg);
    transition: 2s opacity, 1.5s transform .1s;
  }

  :nth-child(4) {

  }
}

.js-loaded:not(.js-unloading) .c-hero__background {
  :nth-child(1) {
    opacity: 1;
  }

  :nth-child(2) {
    opacity: 1;
    transform: translate(calc(-10vw + 50px), calc(10vw + -60%)) rotate(45deg);
  }

  :nth-child(3) {
    opacity: 1;
    transform: translate(calc(50vw + 250px), 35%) rotate(-135deg);
  }
}
