
.c-hero {
  @extend %u-height-100pc;
  @extend %u-flex;
  @extend %u-fd-column;
  @extend %u-jc-center;
  @extend %u-bg-color-black;
  @extend .o-section-clip--ramp-bottom-right;

  &__content {
    display: flex;
    margin-top: 5rem; // Includes room for header. TODO: Set to actual header height?
    margin-bottom: 3rem;
  }
  
  @include breakpoint(from-medium) {  
    &__text {
      width: 70%;
    }
    &__image {  
      width: 30%;
    }
  }
}
