
.c-hero {
  @extend %u-height-100pc;
  @extend %u-flex;
  @extend %u-fd-column;
  @extend %u-jc-center;
  @extend %u-pos-relative;

  $self: &;

  &__background {
    @extend %u-pos-absolute;
    @extend %u-top;
    @extend %u-right;
    @extend %u-bottom;
    @extend %u-left;
    @extend %u-z-index--1;
    @extend .o-section-clip--ramp-bottom-right;
  }

  &__content {
    @extend %u-pos-relative;
    @extend %u-flex;
    @extend %u-fd-column;
    @extend %u-ai-flex-start;
    margin-top: 6rem; // Includes room for header. TODO: Set to actual header height?
  }

  &__text {
    @extend %u-mb-6;
  }

  // Some magic numbers for sizing & text-container-sizing
  // for hero banners with images on desktop
  @include breakpoint(from-medium) {
    &__text--with-image {
      max-width: 66%;
      min-height: 160px;
    }
  }

  &__client-logo {
    @extend %u-mt-4;
  }

  &__image {
    @extend %u-pos-absolute;
    @extend %u-right;
    @extend %u-display-none--upto-medium;
    width: 50vw;
    max-width: 600px;
    transform: translateX(25%);

    img {
      @extend %u-width-100pc;
      @extend %u-height-auto;
    }
  }

  // Like the normal hero image but er different and for the team-member photos
  &__team-image {
    @extend %u-pos-absolute;
    @extend %u-right;
    width: 300px;
    height: 300px;
    transform: translateY(-10%);

    &:before {
      @extend %u-width-100pc;
      @extend %u-height-100pc;
      opacity: .8;
    }

    img {
      @extend %u-width-100pc;
      @extend %u-height-auto;
      border-radius: 0 0 150px 150px;
    }
  }

  &--orange-pink {
    #{$self}__text {
      @extend %u-color-white;
    }

    // White text
    #{$self}__background {
      @extend %u-bg-gradient--orange-pink;
    }
  }

  &--gray-standard #{$self}__background,
  &--gray-gradient #{$self}__background,
  &--gray-gradient-small #{$self}__background, {
    @extend %u-bg-color-gray-bluish;
  }

  &--gray-gradient #{$self}__text {
    h1 {
      // Do gradient text here?
      background: linear-gradient(135deg, #FC845B, #FE497A);
      font-family: 'tiempos';
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &--gray-gradient-small #{$self}__text {
    h1 {
      // Do gradient text here?
      @include fontScale(32, 57);
      background: linear-gradient(135deg, #FC845B, #FE497A);
      font-family: 'tiempos';
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
