.c-home-hero-ctas {
  @extend %u-flex;
  @extend %u-ai-center--from-small;
  @extend %u-ai-flex-start--upto-small;
  @extend %u-fd-column--upto-small;
  margin: 0 -.75rem;

  > * {
    margin: .75rem;
  }

  @include breakpoint(upto-small) {
    margin-top: 1.25rem;

    > * {
      margin-top: .25rem;
      margin-bottom: .25rem;
    }

    .c-button--pill {
      margin-right: -.25rem;
      margin-left: -.25rem;
    }
  }
}
