.c-intro {
  max-width: 890px;

  h2 {
    line-height: 1.6;
    margin-bottom: 4rem;
  }

  a {
    @extend .type-fancy-inline-link;
    outline-offset: .2em;

    color: $color-pink-old;

    &:focus,
    &:hover {
      // Get rid of the 100% - 1px stopping it going to the end of the link
      background-size: 100% 100%;
      outline: none;
    }
  }

  &__clients {
    @extend %u-flex;
    @extend %u-fw-wrap;
    @extend %u-ai-center;
    @extend %u-jc-center;
    @extend %u-mr--2--from-medium;

    &__img-container {
      background: #C6C6CA;
      margin: 1rem 2rem;

      span {
        opacity: 0;
      }
    }

    &__img {
      //@extend %u-mh-6; // Controlled by flexyness?
      @extend %u-mh-2;
      @extend %u-mv-4;
    }
  }
}

.c-links {
  @extend %u-flex;
  @extend %u-fw-wrap;
  @extend %u-ai-center;
  @extend %u-jc-center;

   &__link {
     margin: 0 2rem;

     img {
       display: block;
       width: 200px;
       height: 200px;
     }
   }
}
