.c-home-intro {
  max-width: 890px;
  line-height: 1.6;

  * + * {
    margin-top: var(--container-v-pad);
  }

  a {
    @extend .type-fancy-inline-link;
    color: $color-pink-old;
    outline-offset: .2em;

    &:focus {
      outline: none;
    }
  }

  &__clients {
    @extend %u-flex;
    @extend %u-fw-wrap;
    @extend %u-ai-center;
    @extend %u-jc-center;
    @extend %u-mv--2--from-medium;

    &__img-container {
      margin: 1rem 2rem;
      background: $color-gray-darkish;
    }
  }
}
