.o-images {

  margin-bottom: var(--container-v-pad);
  margin-top: var(--container-v-pad);

  @include breakpoint(from-medium) {
    &.count-2 {
      display: flex;

      .o-images__image {
        width: 50%;
      }
    }
  }

  &__image {

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }


  &.size {
    &-medium {
      grid-column: 2;
    }
  }

  &.size {
    &-large {
      grid-column: 1;
      grid-column-end: span 2;
    }
  }


  &.size {
    &-full {
      width: 100%;

      &.count-1 {
        .o-images__image {
          width: 100%;
        }

      }
    }
  }

  // Remove the margin-top of a screen following a screen
  & + .o-images {
    margin-top: 0;
  }
}
