
.c-images {
  @extend %u-flex;
  @extend %u-fw-wrap;

  $self: &;

  margin-top: calc(var(--container-v-pad) * 1.5);
  margin-bottom: calc(var(--container-v-pad) * 1.5);

  &__image {
    @extend %u-border-box;
    @extend %u-flex;
    @extend %u-ai-center;
    @extend %u-jc-center;
    @extend %u-width-100pc--upto-medium;
    @extend %u-width-50pc--from-medium;

    img {
      @extend %u-width-100pc;
      @extend %u-height-auto;
    }
  }

  &--medium {
    margin-top: 3rem;
    margin-bottom: 3rem;
    grid-column: 2;
  }

  &--large {
    grid-column: 1;
    grid-column-end: span 2;

    @include breakpoint(upto-medium) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  // When the image is at the top of the content, have no margin-top
  &:first-child {
    margin-top: 0;
  }

  // When the image is at the bottom of the content, have no margin-bottom
  &:last-child {
    margin-bottom: 0;
  }

  // Image shorcode with single id (i.e. only one image)
  &--multi-bg-color > :first-child:last-child,
  &--single-bg-color > :first-child:last-child {

    img {
      width: var(--container-width);
      max-width: $global-max-width;
    }
  }

  & > :first-child:last-child {
    width: 100%;
  }

  &--multi-bg-color {
    #{$self}__image {
      padding: calc((100vw - var(--container-width)) / 2);

      @include breakpoint(from-medium--upto-large) {
        padding: calc((100vw - var(--container-width)) / 4);
      }

      @include breakpoint(from-large) {
        padding: calc((100vw - var(--container-width)) / 3);
      }
    }
  }

  &--single-bg-color {
    #{$self}__image {
      padding: calc((100vw - var(--container-width)) / 2);

      @include breakpoint(from-medium--upto-large) {
        padding: calc((100vw - var(--container-width)) / 4);
      }

      @include breakpoint(from-large) {
        padding: calc((100vw - var(--container-width)) / 3);
      }
    }

    & > *:not(:last-child) {
      padding-right: calc((100vw - var(--container-width)) / 4);

      @include breakpoint(from-medium--upto-large) {
        padding-right: calc((100vw - var(--container-width)) / 8);
      }

      @include breakpoint(from-large) {
        padding-right: calc((100vw - var(--container-width)) / 6);
      }
    }

    & > *:not(:first-child) {
      padding-left: calc((100vw - var(--container-width)) / 4);

      @include breakpoint(from-medium--upto-large) {
        padding-left: calc((100vw - var(--container-width)) / 8);
      }

      @include breakpoint(from-large) {
        padding-left: calc((100vw - var(--container-width)) / 6);
      }
    }

    & > *:not(:first-child):not(:last-child) {
      padding-right: calc((100vw - var(--container-width)) / 4);
      padding-left: calc((100vw - var(--container-width)) / 4);

      @include breakpoint(from-medium--upto-large) {
        padding-right: calc((100vw - var(--container-width)) / 8);
        padding-left: calc((100vw - var(--container-width)) / 8);
      }

      @include breakpoint(from-large) {
        padding-right: calc((100vw - var(--container-width)) / 6);
        padding-left: calc((100vw - var(--container-width)) / 6);
      }
    }
  }

  // Remove the margin-top of an image shortcode following an image shortcode
  & + #{$self} {
    margin-top: 0;
  }
}
