.o-images {

  margin-bottom: var(--container-v-pad);
  margin-top: var(--container-v-pad);

  @include breakpoint(from-medium) {
    &.count-2 {
      display: flex;

      .o-images__image {
        width: 50%;
      }
    }
  }

  &__image {

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }


  &.size {
    &-medium {
      grid-column: 2;
    }
  }

  &.size {
    &-large {
      grid-column: 1;
      grid-column-end: span 2;
    }
  }


  &.size {
    &-full {
      width: 100%;

      &.count-1 {
        .o-images__image {
          width: 100%;
        }

      }
    }
  }

  // Remove the margin-top of a screen following a screen
  & + .o-images {
    margin-top: 0;
  }
}

.c-images {
  @extend %u-flex;
  @extend %u-fw-wrap;

  $self: &;

  &__image {
    @extend %u-border-box;
    @extend %u-flex;
    @extend %u-ai-center;
    @extend %u-jc-center;
    @extend %u-width-100pc--upto-medium;
    @extend %u-width-50pc--from-medium;

    img {
      @extend %u-width-100pc;
      @extend %u-height-auto;
      //max-width: $global-max-width / 2;
    }
  }


  &--multi-color {
    #{$self}__image {
      padding: calc((100vw - var(--container-width)) / 2);

      @include breakpoint(from-medium--upto-large) {
        padding: calc((100vw - var(--container-width)) / 4);
      }

      @include breakpoint(from-large) {
        padding: calc((100vw - var(--container-width)) / 3);
      }
    }
  }

  &--single-color {
    #{$self}__image {
      padding: calc((100vw - var(--container-width)) / 2);

      @include breakpoint(from-medium--upto-large) {
        padding: calc((100vw - var(--container-width)) / 4);
      }

      @include breakpoint(from-large) {
        padding: calc((100vw - var(--container-width)) / 3);
      }
    }

    & > *:not(:last-child) {
      padding-right: calc((100vw - var(--container-width)) / 4);

      @include breakpoint(from-medium--upto-large) {
        padding-right: calc((100vw - var(--container-width)) / 8);
      }

      @include breakpoint(from-large) {
        padding-right: calc((100vw - var(--container-width)) / 6);
      }
    }

    & > *:not(:first-child) {
      padding-left: calc((100vw - var(--container-width)) / 4);

      @include breakpoint(from-medium--upto-large) {
        padding-left: calc((100vw - var(--container-width)) / 8);
      }

      @include breakpoint(from-large) {
        padding-left: calc((100vw - var(--container-width)) / 6);
      }
    }

    & > *:not(:first-child):not(:last-child) {
      padding-right: calc((100vw - var(--container-width)) / 4);
      padding-left: calc((100vw - var(--container-width)) / 4);

      @include breakpoint(from-medium--upto-large) {
        padding-right: calc((100vw - var(--container-width)) / 8);
        padding-left: calc((100vw - var(--container-width)) / 8);
      }

      @include breakpoint(from-large) {
        padding-right: calc((100vw - var(--container-width)) / 6);
        padding-left: calc((100vw - var(--container-width)) / 6);
      }
    }
  }

}
