
.c-link-block {
  @extend %u-flex;
  @extend %u-fd-column;
  @extend %u-ai-flex-start;
  @extend %u-mv-5--upto-medium;

  $self: &;

  &__link {
    @extend %u-mt-auto;
  }

  &__title {
    margin-bottom: 0; // Reset
  }

  &--service {
    @extend %u-pr-8--from-medium;

    #{$self}__title {
      margin-top: 1.2em;
      margin-bottom: 1em;
    }

    #{$self}__desc {
      margin-top: 0;
      margin-bottom: 1em; // Plus margins from <p>s inside

      p:first-of-type {
        margin-top: 0;
      }
    }
  }
}
