.c-newsletter-signup {
  @extend %u-bg-color-gray-bluish;
  //@extend %u-pad-6;
  @extend %u-pv-6;
  @extend %u-ph-6--from-large;
  @extend %u-border-box;
  grid-column: 1 / -1;

  // @include breakpoint(upto-small) {
  //   padding-right: calc(4% + 1rem);
  //   padding-left: calc(4% + 1rem);
  // }

  @include breakpoint(from-large) {
    margin-right: auto;
    margin-left: auto;
    width: var(--container-width);
    max-width: $global-max-width;
  }

  &__inner {
    @extend %u-border-box;
    @extend .o-container-content;

    @include breakpoint(from-large) {
      padding-right: 320px;
    }
  }

  &__heading {
    @extend .type-subtitle;
    @extend %u-mb-3;
  }

  &__form {
    @extend %u-flex;
    @extend %u-fd-column--upto-small;
  }

  &__text-input {
    @extend %u-block;
    @extend %u-pv-1;
    @extend %u-fg-1;
    @extend %u-sailec;
    border: unset;
    border-bottom: 2px solid $color-blackcurrant;
    margin: 0;
    background: none;
    font-size: unset;
    transition: background-color .15s;
    min-width: 0;

    &::placeholder {
      opacity: 1;
      color: $color-gray-dark;
    }

    &:focus {
      outline: none;

      &::placeholder {
        opacity: 0;
      }
    }

    &:focus,
    &:not(:placeholder-shown) {
      background-color: $color-white;
    }
  }

  &__button {
    @extend %u-ml-6--from-small;
    @extend %u-mt-2--upto-small;
    @extend %u-fs-0;
  }
}

.c-newsletter-signup + .o-container-content {
  margin-top: 0;
}
