/**
 * Formerly c-ad, but that got blocked by some adblockers ROFL
 */
.c-promo {
  @extend %u-pad-6;
  @extend %u-mv-6;
  @extend %u-color-white;
  @extend %u-flex;
  @extend %u-fd-column;
  @extend %u-ai-flex-start;
  @extend %u-pos-relative;
  @extend %u-ov-hidden;
  grid-column: 2;

  @include breakpoint(upto-small) {
    padding: 2rem 1.5rem;
  }

  &__background {
    @extend %u-z-index--1;
    @extend %u-pos-absolute;
    @extend %u-top;
    @extend %u-right;
    @extend %u-bottom;
    @extend %u-left;
    @extend %u-bg-color-blackcurrant;
    clip-path: polygon(
      100% 0,
      100% 50%,
      93% 100%,
      0 100%,
      0 0
    );

    &:before,
    &:after {
      @extend %u-content;
      @extend %u-pos-absolute;
    }

    &:before {
      @extend %u-bottom;
      @extend %u-right;
      @extend %u-round;
      width: 40rem;
      height: 40rem;
      background: linear-gradient(90deg, transparent, rgba($color-white, .3));
      transform: translate(40%, 40%) rotate(30deg);
    }

    &:after {
      @extend %u-top;
      @extend %u-left;
      width: 40rem;
      height: 40rem;
      background: linear-gradient(transparent, rgba($color-white, .15));
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &__label {
    @extend %u-color-orange;
    @extend %u-bold;
    font-size: 18px;
  }

  &__title {
    @extend .type-static-subtitle;
    @extend %u-mt-2;
  }

  p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include breakpoint(from-small) {
      max-width: 66%;
    }
  }

  &:focus {
    .c-button {
      outline: 1px dotted currentColor;
    }

    .c-button:after {
      background-size: 100% 100%;
    }
  }

  &:hover {
    .c-button:after {
      background-size: 100% 100%;
    }
  }

  &--work {
    background-color: $color-gray-light;
    color: $color-blackcurrant;
  }
}
