/**
 * Formerly c-ad, but that got blocked by some adblockers lol
 */
 .c-promo {
  @at-root .c-content-grid & {
      grid-column: 1 / -1;
  }

  $self: &;
  @extend %u-mv-6;
  @extend %u-mh-auto;
  @extend %u-pv-4;
  @extend %u-pad-6--from-small;
  @extend %u-flex;
  @extend %u-fd-column;
  @extend %u-ai-flex-start;
  @extend %u-pos-relative;
  @extend %u-grid--from-medium;
  grid-column-gap: 3rem;
  grid-template-columns: 1fr 60%;

  @include breakpoint(upto-small) {
    width: var(--container-width);
  }

  &__background {
    @extend %u-z-index--1;
    @extend %u-pos-absolute;
    @extend %u-top;
    @extend %u-right;
    @extend %u-bottom;
    @extend %u-left;
    background: linear-gradient(135deg, rgba($color-orange-old, .1) 0%, rgba($color-pink-old, .1) 100%);
    grid-column: 1 / -1;

    @include breakpoint(upto-small) {
      margin-right: calc((100vw - var(--container-width)) / -2);
      margin-left: calc((100vw - var(--container-width)) / -2);
    }

    @include breakpoint(from-small) {
      clip-path: polygon(
        100% 0,
        100% 50%,
        93% 100%,
        0 100%,
        0 0
      );
    }

    @include breakpoint(from-medium) {
      margin-left: -3rem;
      margin-right: -3rem;
    }
  }

  &__label {
    @extend %u-bold;
    @extend %u-color-blackcurrant;
    grid-column: 1 / 2;
    font-size: 18px;
  }

  &__title {
    @extend %u-mt-3--upto-medium;
    @extend %u-tiempos;
    @extend %u-vbold;
    @include fontScale(34, 38);
    @include lineScale(40,  54);
    background: linear-gradient(135deg, $color-orange-old 0%, $color-pink-old 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  p {
    @extend %u-mv-3;

    @include breakpoint(from-small) {
      max-width: 90%;
    }
  }

  & .c-button--underlined-orange {
    background: linear-gradient(135deg, $color-orange-old 0%, $color-pink-old 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  & .c-button {
    width: fit-content;
  }

  &:focus {
    .c-button {
      outline: 1px dotted currentColor;
    }

    .c-button:after {
      background-image: linear-gradient($color-blackcurrant, $color-blackcurrant);
      background-size: 100% 100%;
    }
  }

  &:hover {
    .c-button:after {
      background-image: linear-gradient($color-blackcurrant, $color-blackcurrant);
      background-size: 100% 100%;
    }
  }

  &__work-title {
    @extend #{$self}__title;
    @extend %u-mv-4;
  }

  &__side-image {
    @extend %u-display-none--upto-large;
    @extend %u-pos-absolute;
    grid-column: 1;
    top: 50%;
    width: 200px;
    height: 200px;
    align-self: flex-end;
    transform: translateY(-50%);

    img {
      @extend %u-width-100pc;
      @extend %u-height-100pc;
    }
  }

  &--work {
    color: $color-blackcurrant;

    #{$self}__background {
      background-color: $color-gray-light;
    }
  }
}
