.o-screens {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
  position: relative;

  @include breakpoint(from-medium) {
    margin-bottom: 100px;
    margin-top: 100px;
  }

  @include breakpoint(from-large) {
    margin-bottom: calc(200px - 1em);
    margin-top: calc(200px - 1em);
  }

  &__screen {
    z-index: 1;
  }

  &__bg {
    display: block;
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    width: calc(100vw - var(--scrollbar-width));
    z-index: 1;
  }

  &__caption {
  }

  &.mobile {
    justify-content: center;

    .o-screens__screen {
      width: 190px;

      @include breakpoint(from-medium) {
        width: 250px;
      }

      @include breakpoint(from-large) {
        width: 300px;
      }
    }

    .o-screens__bg {
      width: 80%;
    }

    &.count {

      &-2 {
        justify-content:space-between;

        .o-screens__screen {
          &:nth-child(1) {
            margin-left: .5rem;
          }
        }

        @include breakpoint(from-medium) {
          justify-content:center;

          .o-screens__screen {
            margin-left: 1rem;
            margin-right: 1rem;
          }
        }

        @include breakpoint(from-medium) {
          justify-content:center;

          .o-screens__screen {
            margin-left: 2rem;
            margin-right: 2rem;
          }
        }

        .o-screens__bg {
          width: 90%;
        }
      }

      &-3 {
        justify-content:space-between;

        .o-screens__screen {
          margin-left: 0;
          margin-right: 0;

          &:nth-child(1) {
            margin-left: .5rem;
            margin-right: .5rem;
          }
        }

        .o-screens__bg {
          width: 110%;
        }
      }
    }

    .o-screens__screen {
      img {
        display: block;
        height: auto;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .o-screens__chrome {
      background: $color-gray-deep;
      border-radius: 18px;
      box-shadow:10px 10px 60px rgba($color-black, .14);
      padding: 6%;

      @include breakpoint(from-medium) {
        border-radius: 20px;
        padding:0.8rem;
      }

      @include breakpoint(from-large) {
        border-radius: 22px;
      }
    }

    .o-screens__mask {
      border-radius: 10px;
      display: block;
      height: 0;
      overflow: hidden;
      padding-top: 216%;
      position: relative;
      width: 100%;
    }
  }

  &.desktop {
    box-shadow:10px 10px 60px rgba($color-black, 0.14);
    max-width: 1400px;

    .o-screens__bg {
      width: 110%;
    }

    .o-screens__screen {
      img {
        display: block;
        height: auto;
        width: 100%;
      }
    }

    .o-screens__chrome {
      background: $color-gray-deep;
      border-radius: 6px 6px 0 0;
      padding-top: 20px;

      &:before {
        color: #444;
        content: '⬤ ⬤ ⬤';
        font-size: 6px;
        left: 7px;
        letter-spacing: 1px;
        position: absolute;
        top: 7px;

        @include breakpoint(from-medium) {
          font-size: 10px;
          left: 12px;
          top: 12px;
        }
      }
      @include breakpoint(from-medium) {
        padding-top: 37px;
      }
    }
  }
}
