.c-service-category {
  &__icon-container {
    height: 72px;
  }

  &__title {
    @extend %u-color-orange-old;
  }

  &__content {
    @extend %u-pos-relative;
    @extend %u-sailec;
    @extend %u-color-blackcurrant;
    @extend %u-pt-4;
    @extend %u-mt-4;
    @include fontScale(18, 20);
    @include lineScale(30, 34);

    & p {
      margin-top: 0;
      margin-bottom: 0;
    }

    &::before {
      @extend %u-content;
      @extend %u-pos-absolute;
      @extend %u-top;
      border-top: 2px solid $color-black;
      width: 38px;
    }
  }

  &:first-child {
    & div img {
      height: 100%;
    }
  } 

  &:not(:first-child) {
    @include breakpoint(upto-medium) {
      margin-top: 3.4rem;
    }
  }
}
