.c-service-case-study {
    @extend %u-pos-relative;

    &__title {
        @extend %u-color-blackcurrant;
        margin-bottom: 52px;
    }

    &__content {

        @include breakpoint(from-medium) {
            display: flex;
            margin-top: 4rem;
        }

        &-subtitle {
            @extend %u-tiempos;
            @include fontScale(28, 32);
            @include lineScale(50, 54);
            @extend %u-color-blackcurrant;
            @extend %u-pb-8;
            @extend %u-vbold;
        }

        &__background {
            @extend %u-width-100pc;
            @extend %u-height-100pc;
            @extend %u-pos-relative;
            @extend %u-pt-8;
            background: #F8F8F8;
            max-width: 800px;
            padding-bottom: 6.2rem;
            z-index: -1;

            @include breakpoint(upto-small) {
                padding-bottom: 8rem;
            }

            @include breakpoint(from-medium) {
                position: absolute;
                width: 599.65px;
                height: 377px;
                padding-bottom: unset;
            }

            @include breakpoint(from-large) {
                width: 776px;
                height: 458px;
                background-color: transparent;
                padding-top: unset;;
                margin-top: 3.75rem;

                &::before {
                    height: 100%;
                    width: 100%;
                    background: #F8F8F8;
                    position: absolute;
                    clip-path: polygon(0px 0, calc(100% - 0px) 0, calc(100% - 0px) 50%, calc(100% - 0px) 100%, 50px 100%, 0px 17%);
                    top: 0;
                    content: '';
                    z-index: -1;
                }
            }

            @include breakpoint(from-full) {
                width: 800px;
                height: 458px;
                padding-top: unset;
                margin-bottom: 0;
            }

            &__illustration {
                @extend %u-pos-absolute;
                top: -15%;
                left: 20%;
                display: block;

                & img {
                    @include breakpoint(from-small--upto-large) {
                        width: 100%;
                        height: 100%;
                    }
                }

                @include breakpoint(upto-small) {
                    display: none;
                }

                @include breakpoint(from-small) {
                    left: 45%;
                    top: -6%;
                }

                @include breakpoint(from-medium) {
                    top: -10%;
                    left: 45%;
                }

                 @include breakpoint(from-large) {
                    top: -12%;
                }
            }
        }

        &-content {
            @extend %u-pt-4;
            position: unset;

            @include breakpoint(from-medium) {
                width: 399px;
                margin-right: auto;  
                padding-top: unset;
            }

            &--link {
                 width: 136px;
             }

             @include breakpoint(upto-small) {
                position: absolute;
            }
        }
    }

    &__image-small {
        top: -2.5rem;
        transform: unset;
        right: 0;
    }

}