
.c-service-block {
  @extend %u-flex;
  @extend %u-fd-column;
  @extend %u-ai-flex-start;
  @extend %u-mv-5;
  pointer-events: none;

  $self: &;

  &__link {
    @extend %u-mt-auto;
    pointer-events: all;
  }

  &__icon-container {
    margin-bottom: 2.5rem;
  }

  &__title {
    margin-bottom: 2rem;
    pointer-events: all;
  }

  &__desc {
    margin-bottom: 2.5rem;

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }

    &:hover {
      cursor: text;
    }
  }

  *:last-child {
    margin-bottom: 0;
  }

  &:focus {
    outline: none;

    #{$self}__link {
      outline: 1px dotted currentColor;
    }
  }

  &:hover {
    #{$self}__link:after {
      background-size: 100% 100%;
    }
  }
}
