.c-service-category {
  &__icon-container {
    height: 72px;
  }

  &__title {
    @extend %u-vbold;
    @include fontScale(28, 32);
    @include lineScale(38, 42);
    @extend %u-color-orange-old;
    font-family: 'Tiempos Text';
    font-style: normal;
  }

  &__content {
    @extend %u-pos-relative;
    @extend %u-sailec;
    @extend %u-color-blackcurrant;
    @extend %u-pt-4;
    @extend %u-mt-4;
    @include fontScale(18, 20);
    @include lineScale(30, 34);
    font-style: normal;

    &::before {
      @extend %u-content;
      @extend %u-pos-absolute;
      @extend %u-top;
      border-top: 2px solid $color-black;
      width: 38px;
    }
  }

  &:not(:first-child) {
    @include breakpoint(upto-small) {
      margin-top: 96px;
    }
  }
}
