.c-service-template {
  &__button-container {
    margin: 0;
  }

  &__button {
    @extend %u-sailec;
    @extend %u-color-white;
    @extend %u-pt-2;
    @extend %u-pb-2;
    @extend %u-pl-4;
    @extend %u-pr-4;
    @extend %u-mt-12;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    background: $gradient-orange-new-pink;
    border-radius: 30px;
  }
}
