.c-service-case-study {

    &__parenting {
        @extend %u-flex;
        @extend %u-fd-column;
        @extend %u-fd-row--from-medium;

        @include breakpoint(from-tiny) {
            padding-top: 6.25rem;
        }

        @include breakpoint(from-medium) {
            flex-direction: row;
            padding-top: unset;
        }

        &-block {
            @extend %u-pos-relative;
            @extend %u-width-100pc;
            padding-top: 2.5rem;
            padding-bottom: 3.2rem;

            &::after {
                @extend %u-content;
                @extend %u-width-100pc;
                @extend %u-height-100pc;
                @extend %u-pos-absolute;
                @extend %u-top;
                @extend %u-bg-color-gray-light;
                clip-path: polygon(0px 0, calc(100% - 0px) 0, calc(100% - 0px) 50%, calc(100% - 50px) 100%, 0px 100%, 0px 0%);
                z-index: -1;
            }

            &--image {
                @extend %u-pos-absolute;
                top: 0.5rem;
                right: 0;
                transform: translateY(-50%);

                @include breakpoint(from-small) {
                    left: -10%;
                    top: -2.5rem;
                    transform: translateY(50%);
                }

                @include breakpoint(from-medium) {
                    left: -12%;
                    top: -1rem;
                }


                & img {
                    width: 125px;
                    height: 125px;
                    @include breakpoint(from-small) {
                        width: unset;
                        height: unset;
                    }
                }
            }

        }

        &-block + &-block {
            margin-top: 5rem;

            @include breakpoint(from-medium) {
                margin-top: unset;
                margin-left: 4rem;

            }
        }

        &-content {
            padding-left: 2rem;
            padding-right: 2rem;

            @include breakpoint(from-small) {
                padding-left: 9rem;
            }

            &--title {
                @extend %u-sailec;
                @extend %u-vbold;
                @include fontScale(19, 23);
                @include lineScale(25, 29);
                @extend %u-color-black;
                padding-top: 18px;
                padding-bottom: 9px;
            }

            &--p {
                @extend %u-sailec;
                @extend %u-color-black;
                font-size: 15px;
                line-height: 1.3;
                margin: 0;
                padding-right: 2rem;
            }

            &--content {
                & p:nth-child(2),
                & p:nth-child(3) {
                    @extend %u-sailec;
                    @extend %u-vbold;
                    @extend %u-uppercase;
                    font-size: 10px;
                    line-height: 1.2;
                    letter-spacing: 0.1em;
                    color: rgba(3, 3, 3, 0.5);
                }

                & p:nth-child(1) {
                    padding-top: 1.3rem;
                    padding-bottom: 1.8rem;
                }

                & p:nth-child(2) {
                    padding-bottom: 7px;
                    width: 95px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                }

                & p:nth-child(3) span {
                    @extend %u-tiempos;
                    @include fontScale(26, 30);
                    @include lineScale(35, 39);
                     @extend %u-color-black;
                    font-weight: 500;
                    opacity: 0.5;
                }
            }
        }
    }
}