.c-service-case-study {
    @extend %u-pos-relative;
    margin-top: 80px;
    padding-bottom: 80px;

    @include breakpoint(from-medium) {
        margin-top: 137px;
        padding-bottom: 99px;
    }

    &__title {
        @extend %u-color-blackcurrant;
        padding-bottom: 99px;
    }

    &__content {

        @include breakpoint(from-medium) {
            display: flex;
            flex-direction: row-reverse;
        }

        &-subtitle {
            @extend %u-tiempos;
            @include fontScale(28, 32);
            @include lineScale(50, 54);
            @extend %u-color-blackcurrant;
            font-weight: 600;
            padding-bottom: 59px;
        }

        &-background {
            @extend %u-width-100pc;
            @extend %u-height-100pc;
            position: relative;
            background: #F8F8F8;
            max-width: 800px;
            padding-bottom: 99px;
            padding-top: 66px;
            z-index: -1;

            @include breakpoint(from-medium) {
               position: absolute;
                width: 599.65px;
                height: 347px;
                padding-bottom: unset;
            }

              @include breakpoint(from-large) {
                    width: 799.65px;
              }

            &--car-profile {
                @extend %u-width-100pc;
                @extend %u-height-100pc;
                @extend %u-pos-absolute;
                top: -15%;
                left: 15%;

                @include breakpoint(from-small--upto-medium) {
                    left: 20%;
                }

                @include breakpoint(from-medium) {
                    top: -10%;
                    left: 22%;
                }
            }

            &--car {
                @extend %u-width-100pc;
                @extend %u-height-100pc;

                @include breakpoint(from-medium) {
                    height: 291.79px;
                }

                @include breakpoint(from-large) {
                    width: 673.15px;
                    padding-left: 84px;
                }

            }
        }

        &-content {
             padding-top: 33px;

            @include breakpoint(from-medium) {
                width: 399px;
                margin-right: auto;  
            }

            &--link {
                 width: 136px;
             }
        }
    }

}