.c-service-case-study {
    @extend %u-pos-relative;

    &__title {
        @extend %u-color-blackcurrant;
    }

    &__content {

        @include breakpoint(from-medium) {
            display: flex;
            margin-bottom: 6rem;
            margin-top: 4rem;
        }

        &-subtitle {
            @extend %u-tiempos;
            @include fontScale(28, 32);
            @include lineScale(50, 54);
            @extend %u-color-blackcurrant;
            @extend %u-pb-8;
            font-weight: 600;
        }

        &-background {
            @extend %u-width-100pc;
            @extend %u-height-100pc;
            @extend %u-pos-relative;
            @extend %u-pt-8;
            background: #F8F8F8;
            max-width: 800px;
            padding-bottom: 99px;
            z-index: -1;

            // @extend %u-pos-absolute--from-medium;

            @include breakpoint(from-medium) {
               position: absolute;
                width: 599.65px;
                height: 377px;
                padding-bottom: unset;
            }

            @include breakpoint(from-large) {
                width: 776px;
                height: 458px;
                background-color: transparent;
                padding-top: unset;;
                margin-top: 60px;

                &::before {
                    height: 100%;
                    width: 100%;
                    background: #F8F8F8;
                    position: absolute;
                    clip-path: polygon(0px 0, calc(100% - 0px) 0, calc(100% - 0px) 50%, calc(100% - 0px) 100%, 50px 100%, 0px 17%);
                    top: 0;
                    content: '';
                    z-index: -1;
                }
            }

            @include breakpoint(from-full) {
                width: 800px;
                height: 458px;
                padding-top: unset;
                margin-bottom: 0;
            }

            &--car-profile {
                @extend %u-height-100pc;
                @extend %u-pos-absolute;
                top: -17%;
                left: 20%;

                @include breakpoint(from-small--upto-medium) {
                    left: 45%;
                    top: -15%;
                }

                @include breakpoint(from-medium) {
                    top: -12%;
                    left: 45%;
                }

                 @include breakpoint(from-large) {
                    top: -12%;
                    left: 52%;
                }
            }

            &--car {
                @extend %u-width-100pc;
                @extend %u-height-100pc;

                @include breakpoint(from-medium) {
                    height: 291.79px;
                }

                @include breakpoint(from-large) {
                    width: 673.15px;
                    padding-left: 84px;
                    padding-top: 47px;
                }

            }
        }

        &-content {
            @extend %u-pt-4;

            @include breakpoint(from-medium) {
                width: 399px;
                margin-right: auto;  
                padding-top: unset;
            }

            &--link {
                 width: 136px;
             }
        }
    }

}