.c-service-mission {
    padding-top: 80px;

    @include breakpoint(from-medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 128px;
    }

    &__title {
        @extend %u-color-blackcurrant;

        @include breakpoint(from-tiny--upto-medium) {
            padding-bottom: 32px;
        }
    }
    
    &__content {
        &-p {
            @extend %u-sailec;
            @extend %u-color-black;
            @include fontScale(18, 20);
            @include lineScale(24, 28);
            font-style: normal;
            margin: 0;

            &:nth-child(even) {
                padding-bottom: 42px;
                padding-top: 32px;
            }
        }

        &-logos { 

           &--clients {

            @include breakpoint(from-large) {
                margin: 0;
            }

            @include breakpoint(from-large) {
                &:nth-child(2), 
                &:nth-child(5),
                &:nth-child(8) {
                    margin: 1.5rem 2.5rem;
                }
            }
            }
        }
    }
}