
.o-service-collaboration {
   @extend %u-pos-relative;
   @extend %u-ov-hidden;
}

.c-service-content {

  @include breakpoint(upto-medium) {
    position: unset;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    padding-top: 5rem;
  }

  &__item {

    &__faded-image {
      width: 300px;
      height: 300px;
      background-image: var(--bg-src);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;

      @include breakpoint(from-large) {
        position: absolute;
        top: 0%;
        right: -9%;
        background-image:
        linear-gradient(0deg, #FFFFFF 12.53%, rgba(255, 255, 255, 0) 77.75%),
        var(--bg-src);
        background-size: contain;
         width: 537.49px;
         height: 537.49px;
      }

       @include breakpoint(from-full) {
        right: -5%;
      }
    }

    h4 {
      @extend %u-vbold;
      @extend %u-sailec;
      @include lineScale(24, 28);
      @extend %u-color-blackcurrant;
      font-size: 18px;
    }

    p {
      @extend %u-sailec;
      @include lineScale(24, 28);
      @extend %u-color-blackcurrant;
      margin: 0;
      font-size: 18px;
    }

    &:nth-child(odd) {
      padding-bottom: 8.3rem;

      @include breakpoint(upto-medium) {
        padding-bottom: unset;
      }

      h3 {
        @extend %u-color-blackcurrant;
        margin-top: 5rem;
      }

      & > div:nth-child(1) {

        &:before,
        &:after {
          @extend %u-content;
          @extend %u-pos-absolute;
          pointer-events: none;
        }

        &::before {
          @extend %u-display-none;

          @include breakpoint(from-large) {
            display: block;
            width: 352.09px;
            height: 352.09px;
            background: linear-gradient(
              66.38deg,
              rgba(252, 118, 98, 0.3) 11.36%,
              rgba(252, 59, 126, 0.3) 71.16%
            );
            transform: translate(calc(-50% - 13rem), calc(-50% - 9rem));
            top: 50%;
            left: 100%;
            border-radius: 50%;
            z-index: 2;
          }

          @include breakpoint(from-full) {
            transform: translate(calc(-50% - 12rem), calc(-50% - 9rem));
          }
        }

        &::after {
          @extend %u-display-none;

          @include breakpoint(from-large) {
            display: block;
            width: 488.49px;
            height: 488.49px;
            background: linear-gradient(
              298.92deg,
              rgba(252, 137, 91, 0.2) 22.4%,
              rgba(255, 38, 139, 0) 92.72%
            );
            top: 50%;
            left: 100%;
            transform: translate(calc(-50% + 5.5rem), calc(-50% - 16.5rem)) rotate(-135deg);
            z-index: 1;
          }

           @include breakpoint(from-full) {
            transform: translate(calc(-50% + 5rem), calc(-50% - 16.5rem)) rotate(-135deg);
          }
        }
      }

      & > div:nth-child(2) {
        width: 513px;

        @include breakpoint(upto-medium) {
          padding-left: unset;
          width: unset;
        }

        @include breakpoint(from-medium--upto-large) {
          padding-left: unset;
        }

        & div {
          margin-top: 5.4rem;
        }

        &:nth-child(1) img {
          top: -20%;
        }
      }
    }

    &:nth-child(even) {
      @extend %u-pos-relative;

      &::before {
        @extend %u-content;
        @extend %u-pos-absolute;
        background: linear-gradient(
            298.92deg,
            rgba(252, 137, 91, 0.3) 22.4%,
            rgba(255, 38, 139, 0) 92.72%
          );
          left: 0%;
          width: 613px;
          height: 613px;
          top: 0%;
           transform: translate(calc(-50% - 10rem), calc(-50% + 17rem)) rotate(-135deg);
           z-index: -1;

        @include breakpoint(from-large) {
          transform: translate(calc(-50% - 15rem), calc(-50% + 12rem)) rotate(-135deg);
        }

        @include breakpoint(from-full) {
          transform: translate(calc(-50% - 27rem), calc(-50% + 12rem)) rotate(-135deg);
        }
      }

      @include breakpoint(from-large) {
        padding-top: 4.4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      & > div:nth-child(1) {

        padding-top: 70px;

        img {
            width: 100%;
            height: 100%;
            max-width: 427.21px;

           @include breakpoint(from-large) {
            padding-top: unset;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 427.21px;
            height: 427.21px;
            transform: translate(calc(-50% + 8rem), calc(-50% + 12rem));
            padding-bottom: unset;
          }

          @include breakpoint(from-full) {
            transform: translate(calc(-50% + 2rem), calc(-50% + 12rem));
          }
        }
      }

      & > div:nth-child(2) {
        width: 513px;

        @include breakpoint(upto-large) {
          padding-right: unset;
          width: unset;
          padding-top: 5.4rem;
        }

        @include breakpoint(from-large) {
          padding-right: unset;
        }

        & div:nth-child(2) {
          margin-top: 5.4rem;

          & img:nth-child(2) {
            top: -20%;
          }
        }
      }
    }

    &__container {
      @extend %u-pos-relative;
      padding-left: 5.2rem;

      &:nth-child(1) div img {
        top: -10%;
      }

      & > div {
        img {
          @extend %u-pos-absolute;
          @extend %u-top;
          @extend %u-left;
          width: 57px;
        }
      }
    }
  }
}
