// .c-service-content {
//   &__left {
//     width: 500px;
//     margin-right: auto;

//     &-content {
//       padding-top: 652px;
//       background-image: url('<?= get_template_directory_uri(); ?>/assets/img/mask-group-2.png');
//       background-size: cover;
//     }
//   }
// }

.c-service-content {
  @extend %u-pos-relative;

  @include breakpoint(upto-medium) {
    position: unset;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 80px;
  }

  @include breakpoint(from-medium--upto-large) {
    margin-left: 20px;
  }

  &::before {
    @extend %u-content;
    @extend %u-pos-absolute;
    width: 612.84px;
    height: 612.84px;
    background: linear-gradient(
      298.92deg,
      rgba(252, 137, 91, 0.3) 22.4%,
      rgba(255, 38, 139, 0) 92.72%
    );
    transform: rotate(-135deg);
    top: 43%;
    left: -28.5%;

    @include breakpoint(upto-medium) {
      display: none;
    }

    @include breakpoint(from-medium--upto-large) {
      width: 512.84px;
      height: 512.84px;
      top: 48%;
      left: -30.5%;
    }
  }

  &__item {
    @extend %u-pos-relative;
    @extend %u-ov-hidden;

    @include breakpoint(upto-medium) {
      position: unset;
      overflow: unset;
    }

    &__faded-image {
      width: 300px;
      height: 300px;
      background-image:
        linear-gradient(
          298.92deg,
          rgba(252, 137, 91, .5) 22.4%,
          rgba(255, 38, 139, 0) 92.72%
        ),
        var(--bg-src);
      // Placeholder image sizes
    }

    h4 {
      @extend %u-vbold;
      @extend %u-sailec;
      @include lineScale(24, 28);
      @extend %u-color-blackcurrant;
      font-style: normal;
      font-size: 18px;
    }

    p {
      @extend %u-sailec;
      @include lineScale(24, 28);
      @extend %u-color-blackcurrant;
      margin: 0;
      font-style: normal;
      font-size: 18px;
    }

    &:nth-child(odd) {
      @extend %u-fd-row-reverse;
      padding-bottom: 150px;
      @extend %u-pos-relative;

      @include breakpoint(upto-medium) {
        padding-bottom: unset;
      }

      &::before {
        @extend %u-content;
        @extend %u-pos-absolute;
        @extend %u-z-index-1;
        width: 637.49px;
        height: 637.49px;
        background: linear-gradient(
          273.55deg,
          #ffffff 12.53%,
          rgba(255, 255, 255, 0) 77.75%
        );
        transform: rotate(75deg);
        top: -15%;
        left: 60%;

        @include breakpoint(upto-medium) {
          display: none;
        }

        @include breakpoint(from-medium--upto-large) {
          width: 400px;
          height: 400px;
          top: 2%;
        }
      }

      h3 {
        @extend %u-color-blackcurrant;
        margin-top: 64px;
      }

      & > div:nth-child(1) {
        img {
          @extend %u-pos-absolute;
          width: 500px;
          height: 500px;
          border-radius: 50%;
          top: 0%;
          left: 65%;

          @include breakpoint(upto-medium) {
            width: 300px;
            height: 300px;
            position: unset;
            left: 0;
          }

          @include breakpoint(from-medium--upto-large) {
            width: 400px;
            height: 400px;
            top: 0%;
            left: 65%;
          }
        }

        &:before,
        &:after {
          @extend %u-content;
          @extend %u-pos-absolute;
          pointer-events: none;
        }

        &::before {
          @extend %u-z-index-2;
          width: 352.09px;
          height: 352.09px;
          background: linear-gradient(
            66.38deg,
            rgba(252, 118, 98, 0.3) 11.36%,
            rgba(252, 59, 126, 0.3) 71.16%
          );
          transform: rotate(75deg);
          top: 39%;
          left: 71%;
          border-radius: 50%;

          @include breakpoint(upto-medium) {
            display: none;
          }

          @include breakpoint(from-medium--upto-large) {
            width: 300px;
            height: 300px;
            top: 32%;
          }
        }

        &::after {
          @extend %u-z-index-1;
          width: 488.49px;
          height: 488.49px;
          background: linear-gradient(
            298.92deg,
            rgba(252, 137, 91, 0.2) 22.4%,
            rgba(255, 38, 139, 0) 92.72%
          );
          transform: rotate(-135deg);
          top: 7.5%;
          left: 87.5%;

          @include breakpoint(upto-medium) {
            display: none;
          }

          @include breakpoint(from-medium--upto-large) {
            width: 400px;
            height: 400px;
            top: 7%;
            left: 92%;
          }
        }
      }

      & > div:nth-child(2) {
        width: 513px;
        padding-left: 179px;

        @include breakpoint(upto-medium) {
          padding-left: unset;
          width: unset;
        }

        @include breakpoint(from-medium--upto-large) {
          padding-left: unset;
        }

        & div {
          margin-top: 86px;
        }

        &:nth-child(1) img {
          top: -20%;
        }
      }
    }

    &:nth-child(even) {
      padding-top: 70px;
      @extend %u-flex;
      @extend %u-fd-row;
      @extend %u-jc-space-between;

      @include breakpoint(upto-medium) {
        position: unset;
        display: unset;
      }

      & > div:nth-child(1) {
        @extend %u-pos-relative;

        @include breakpoint(upto-medium) {
          position: unset;
          padding-top: 86px;
        }

        img {
          @extend %u-pos-absolute;
          top: -23%;
          left: 50%;
          width: 427.21px;
          height: 427.21px;
          padding-left: 54px + 20px;

          @include breakpoint(upto-medium) {
            position: unset;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 427.21px;
            height: 100%;
            padding-left: unset;
          }

          @include breakpoint(from-medium--upto-large) {
            top: -15%;
          }
        }
      }

      & > div:nth-child(2) {
        width: 513px;
        padding-right: 179px;

        @include breakpoint(upto-medium) {
          padding-right: unset;
          width: unset;
          padding-top: 86px;
        }

        @include breakpoint(from-medium--upto-large) {
          padding-right: unset;
          margin-left: 504px;
        }

        & div:nth-child(2) {
          margin-top: 86px;

          & img:nth-child(2) {
            top: -20%;
          }
        }
      }
    }

    &__container {
      @extend %u-pos-relative;
      padding-left: 83px;

      &:nth-child(1) div img {
        top: -10%;
      }

      & > div {
        img {
          @extend %u-pos-absolute;
          @extend %u-top;
          @extend %u-left;
          width: 57px;
        }
      }
    }
  }
}
