.c-social-proof {
  display: grid;
  gap: 2rem 1rem;

  @include breakpoint(from-small) {
    grid-template-columns: repeat(2, auto);
  }

  @include breakpoint(from-large) {
    grid-auto-flow: column;
    justify-content: space-between;
  }

  &__link {
    @extend %u-pad-2;
    display: grid;
    grid-template-rows: 1fr 4rem 1fr;

    @include breakpoint(upto-large) {
      flex-grow: 1;
      flex-basis: 25%;
    }

    & img {
      align-self: end;
    }

    &:hover,
    &:focus-visible {
      @extend %u-bg-color-gray-light;
      border-radius: 0.5rem;
    }
  }

  &__star {
    align-self: end;
    width: 70px;
    height: 13px;
    background: url('../../dist/svg/social-proof-stars.svg') no-repeat 0 0;
  }

  &__text {
    @extend %u-sailec;
    @extend %u-color-black;
    font-size: 13px;

    & p {
      margin: 0;
      padding-top: 1rem;
    }
  }
}
