.c-social-proof {

  &__item {
    @extend %u-flex;
    @extend %u-ai-center;
    @extend %u-fd-row;
    @extend %u-jc-space-between;
    @extend %u-fw-wrap;

    & a + a {
      @extend %u-mt-10--upto-small;
    }
  }

  &__content {

    & img {
      @extend %u-mb-5;
    }

    & div {
      padding-bottom: 6px;
    }
  }

  &__star {
    width: 70px;
    height: 13px;
    background: url('../../dist/svg/social-proof-stars.svg') no-repeat 0 0;
  }

  &__text {
    @extend %u-sailec;
    @extend %u-color-black;
    font-size: 10px;
    line-height: 12.5px;

    & span {
      @extend %u-bold;
    }
  }
}
