/**
 * Tag-button-things that appear at the bottom of case-studies
 * (inside c-work-footer). Was previously in o-work.scss.
 * Should be <a>s.
 */
.c-tag {
  @extend .type-p--small;
  @extend %u-bg-color-gray-light;
  @extend %u-border-radius-sm;
  padding: .5rem .8rem;

  &:focus,
  &:hover {
    @extend %u-underline;
  }
}
