
.c-team-list {
  @extend %u-grid--from-small;

  @include breakpoint(from-small--upto-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(from-medium--upto-large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(from-large) {
    grid-template-columns: repeat(4, 1fr);
  }

  $self: &;

  &__person {
    @extend %u-flex;
    @extend %u-fd-column;
    @extend %u-ai-center;
    @extend %u-width-100pc;
    @extend %u-mv-4; // Should be enough for Dans Lego person hair
  }

  &__content {
    @extend %u-flex;
    @extend %u-fd-column;
    @extend %u-ai-center;
    @extend %u-text-align-center;
    @extend %u-jc-flex-start;
    @extend %u-ph-1;
    //@extend %u-mt-auto;

    &:focus,
    &:hover {
      #{$self}__name {
        @extend %u-underline;
      }

      #{$self}__image:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__image {
    @extend .c-team-image;
    @extend .c-team-image--small;
    height: 175px; // Slightly hacky magic number to line 'em up
  }

  &__name {
    @extend .type-p;
    @extend %u-bold;
    @extend %u-mt-4;
  }

  &__title {
    @extend .type-p;
    margin-top: .8rem;
    margin-bottom: 0;
  }

}
