
@each $key, $value in ($auto-colors) {
  @include make-utility((
    alias: 'bg-color-' + $key,
    class: true,
    background-color: $value
  ));
}

@include make-utility((
  alias: 'bg-repeat-no',
  background-repeat: no-repeat
));

@each $value in (cover, contain) {
  @include make-utility((
    alias: 'bg-size-' + $value,
    background-size: $value
  ));
}

@each $key, $value in ($bg-gradients) {
  @include make-utility((
    alias: 'bg-gradient--' + $key,
    class: true,
    background: $value
  ))
}
