@include make-utility((
  alias: 'round',
  border-radius: 50%
));

@include make-utility((
  alias: 'border-radius-sm',
  border-radius: 0.25rem
));

@include make-utility((
  alias: 'gray-borders',
  border-top: 1px $color-gray solid,
  border-bottom: 1px $color-gray solid
));
