
$aliases: (
  'flex',
  'inline-flex',
  // 'inline', // unneeded (just use a <span>?)
  'inline-block',
  'grid',
  'block',
  'display-none'
);

@each $alias in $aliases  {
  $value: strReplace($alias, 'display-');
  @include make-utility((
    alias: $alias,
    class: true,
    display: unquote($value)
  ));
}

@include make-utility((
  alias: border-box,
  class: true,
  box-sizing: border-box
));

.u-display-none--upto-medium {
  @extend %u-display-none--upto-medium;
}

.u-display-none--from-medium {
  @extend %u-display-none--from-medium;
}
