
@include make-utility((
  alias: 'mh-auto',
  class: true,
  margin-left: auto,
  margin-right: auto
));

@include make-utility((
  alias: 'mt-auto',
  class: true,
  margin-top: auto,
));

@include make-utility((
  alias: 'mb-auto',
  class: true,
  margin-bottom: auto,
));

@include make-utility((
  alias: 'ml-auto',
  class: true,
  margin-left: auto,
));

@for $value from -8 through 12 {

  @include make-utility((
    alias: 'm-' + $value,
    margin: $value * .5rem
  ));

  @include make-utility((
    alias: 'mt-' + $value,
    margin-top: $value * .5rem
  ));

  @include make-utility((
    alias: 'mr-' + $value,
    margin-right: $value * .5rem
  ));

  @include make-utility((
    alias: 'mb-' + $value,
    margin-bottom: $value * .5rem
  ));

  @include make-utility((
    alias: 'ml-' + $value,
    margin-left: $value * .5rem
  ));

  @include make-utility((
    alias: 'mv-' + $value,
    margin-top: $value * .5rem,
    margin-bottom: $value * .5rem
  ));

  @include make-utility((
    alias: 'mh-' + $value,
    margin-right: $value * .5rem,
    margin-left: $value * .5rem
  ));

}
