
@for $value from -8 through 8 {

  @include make-utility((
    alias: 'pad-' + $value,
    padding: $value * .5rem
  ));

  @include make-utility((
    alias: 'pt-' + $value,
    padding-top: $value * .5rem
  ));

  @include make-utility((
    alias: 'pr-' + $value,
    padding-right: $value * .5rem
  ));

  @include make-utility((
    alias: 'pb-' + $value,
    padding-bottom: $value * .5rem
  ));

  @include make-utility((
    alias: 'pl-' + $value,
    padding-left: $value * .5rem
  ));

  @include make-utility((
    alias: 'pv-' + $value,
    padding-top: $value * .5rem,
    padding-bottom: $value * .5rem
  ));

  @include make-utility((
    alias: 'ph-' + $value,
    padding-right: $value * .5rem,
    padding-left: $value * .5rem
  ));

}
