
@each $value in (capitalize, lowercase, uppercase) {
  @include make-utility((
    alias: $value,
    text-transform: $value,
    class: true
  ));
}

@each $value in (left, center, right) {
  @include make-utility((
    text-align: $value
  ));
}

@include make-utility((
  alias: underline,
  text-decoration: underline
));

@include make-utility((
  alias: nowrap,
  white-space: nowrap
));

@include make-utility((
  alias: sosh,
  font-family: unquote('Sosh, sans-serif')
));

@include make-utility((
  alias: tiempos,
  font-family: unquote('Tiempos, sans-serif')
));
